[2015-05-12 08:56] jaedb opened #5 "More user-friendly search"
Use auto complete as full search doesn't accommodate partial string searches

[2015-06-08 20:19] jaedb opened #8 "Connect to services without page reload"
When connecting to a core service (Spotify and Mopidy), detect connection and update app accordingly, without requiring full page refresh.
This could be achieved by listening to `localStorage` (for Spotify), and `$broadcasts` for Mopidy.

[2015-09-02 20:26] jaedb opened #11 "CSS parallax on artist pages"
Create CSS-version of the parallax effect on artist intro panels

[2015-09-02 20:27] jaedb opened #12 "Spotify authorized >> update interface"
When the the Spotify authorization process is successful, detect this on the main window and update the interface accordingly. Currently it requires a refresh.

[2015-09-02 22:36] jaedb opened #13 "Artist panel design"
Create a unique visual look for artist `square-panel` items to it's easy to differentiate between artists, playlists and albums

[2015-09-03 07:10] jaedb opened #14 "Notifications and Loader service"
Upgrade notifications to use an Angular Service instead of crude `$broadcast`

[2015-09-07 20:44] jaedb opened #15 "Build as Mopidy extension"
https://docs.mopidy.com/en/latest/extensiondev/#extensiondev

[2015-09-10 20:54] jaedb opened #16 "Context menu delete from playlist"
- Not yet implemented

[2015-09-14 21:39] jaedb commented on #5
Also accommodate changes in the address bar, so you can hit `back` to return to your search results. Perhaps look at how Spotify Web Player works?

[2015-09-16 06:36] jaedb opened #17 "ui-router redirection creates additional history"
When hitting back on the browser, we backtrace any ui-router redirections, especially annoying for Settings and Search pages

[2015-10-12 00:02] jaedb commented on #12
Included in `feature/redesign`

[2015-10-12 00:02] #12 closed, assigned to nobody

[2015-10-12 02:17] jaedb opened #19 "Artist Radio"
Create the ability to create radio stations, as per Spotify Connect

[2015-10-14 19:07] jaedb commented on #17
Resolved pre-`2.3`

[2015-10-14 19:07] #17 closed, assigned to nobody

[2015-10-15 21:06] jaedb opened #20 "Mobile improvements"
- Resolve slow animation when swiping to hide/show mobile nav
- Introduce hamburger icon to indicate menu is available
- Volume controls for touch devices
- Sticky player at bottom
- Selected tracks (and context menu) remain, even when navigating to another page/state

[2015-10-21 20:39] jaedb commented on #20
Resolved:
- Slow animations
- Selected tracks context menu sticky

[2015-10-21 20:41] jaedb opened #23 "Aliases for standard content"
A playlist can be accessed from multiple locations (as with Albums, Artists, etc). Need to find a way to smoothly handle aliases from different contexts (ie My Playlists, Browse, etc) or introduce a Spotify Player style sliding panel.

[2015-10-21 20:42] jaedb opened #24 "Integrate Pusher"
Look at handling client-to-client communication with Pusher. It would be handy to see the current `tracklist` and see who added certain tracks. This may be part of upgrading to a Mopidy extension.

[2015-10-22 00:19] jaedb opened #25 "Drag/swipe affects text selection"
- Cannot select text due to drag effects
- Especially a problem in text inputs

[2015-10-27 19:05] jaedb commented on #5
Partial search: http://developer.echonest.com/docs/v4/artist.html#suggest-beta

[2015-10-28 19:07] jaedb commented on #23
Resolved in `release/2.4`

[2015-10-28 19:07] #23 closed, assigned to nobody

[2015-11-09 22:43] jaedb commented on #14
Same again, for loader

[2015-11-23 19:06] jaedb commented on #11
CSS3 parallax requires scaling of elements, which hinders the flexibility of header images. The bigger performance problem is blurring and shadow elements, rather than the positioning.

[2015-11-23 19:06] #11 closed, assigned to nobody

[2015-11-23 19:33] jaedb commented on #14
Loader resolved by use of `chieffancypants`' [Loader Bar](https://github.com/chieffancypants/angular-loading-bar)

[2015-11-26 02:44] jaedb commented on #14
Resolved in `2.4.3`

[2015-11-26 02:44] #14 closed, assigned to nobody

[2015-11-29 18:27] jaedb opened #31 "Remote authentication for Spotify"
Prevent users from having to create their own Spotify App authentication code and domain by creating an authentication layer on a shared domain name.

[2015-12-01 18:53] jaedb commented on #31
Included in release `2.4.4`

[2015-12-01 18:53] #31 closed, assigned to nobody

[2015-12-02 19:33] jaedb commented on #20
Resolved in `2.4.4`

[2015-12-02 19:33] #20 closed, assigned to nobody

[2015-12-07 19:46] jaedb commented on #24
Should be viable by using Python websockets, now that we're on the Python framework

[2015-12-08 21:18] jaedb commented on #15
Completed in `2.4.7`

[2015-12-08 21:18] #15 closed, assigned to nobody

[2015-12-08 21:18] jaedb commented on #8
Also look to intercept expired tokens and then re-try the original request. Will somehow need to alter the original request to parse the refreshed token.

[2015-12-09 21:19] jodal opened #36 "Project needs a license"
I noticed that Spotmop doesn't include a `LICENSE` file or text in the `README` indicating what license the software is licensed under. The `setup.py` file says Apache 2, but I'm afraid that was simply copy-pasted from another project and not a conscious choice?

As long as the project doesn't have an explicit license it is strictly speaking not open source and cannot be used by anyone without you

[2015-12-10 02:08] jaedb commented on #36
Hi @jodal good spotting. I'm still getting my head around how python hangs together, so it's good to know what still needs doing. Originally I was using Apache 2 + PHP code, but have since decided to move towards python backend providers.

That being said, I did use `Mopidy-Mopify` as a start point for my `setup.py` file.

[2015-12-10 10:46] jodal commented on #36
It's awesome that you've moved to packaging Spotmop as a Mopidy extension. That makes it a lot easier to get up and running!

As for choosing a license, it is up to you as the author, but remember to think about licenses when copying code from other projects. For example, Spotmop includes some code from Mopidy-Mopify which is Apache 2-licensed. If you want to keep that code around, you're limited

[2015-12-13 18:51] jaedb commented on #36
I've just plugged in the Apache 2.0 license now (5ecb8fc). Is there anything else i need to do to link the project to the license (ie on PyPi)?

[2015-12-13 19:34] jodal commented on #36
You might want to state in the README that the project is licensed under the "Apache License, Version 2.0", but there's no requirement.

[2015-12-16 05:30] jaedb commented on #36
License stated and included as at 2170668. Please let me know if there's anything else I need to do to gain a listing on the Mopidy docs, thanks!

[2015-12-16 05:30] #36 closed, assigned to nobody

[2015-12-17 23:34] jaedb commented on #16
Resolved in `develop` and will be included in next release

[2015-12-17 23:34] #16 closed, assigned to nobody

[2015-12-20 18:33] jaedb opened #37 "Drag-and-drop playlists, artists and albums"
Extend dragging from tracks to all music-oriented assets. Likely to require a rebuild of the current drag functionality.

[2015-12-20 19:32] jaedb opened #39 "Url-based pagination"
For Spotify assets where we lazy-load extra items, create this as a URL parameter. This will allow us to hit 'back' and return to the scroll point and items that we last had.

Would be worth investigating a better way to do this prior.

[2015-12-22 01:20] jaedb commented on #24
Integrated (crudely) now, but currently operating on another port. Is it possible to integrate into Mopidy port? Probably not...
Enforce username on load of web application so we can use this to identify individual users. Are we able to extend `TlTrack` to include an `added_by` field?

[2015-12-23 03:12] jaedb opened #40 "Breadcrumbs"
Breadcrumb trail for assets. Either fix the existing ones, or remove completely.

[2016-01-07 03:29] jaedb commented on #24
Operational in release `2.5.1`.

[2016-01-07 03:38] jaedb opened #41 "Polish echonest discovery"
- Issue where skip incurs multiple update requests

[2016-01-08 15:40] damian-w opened #42 "Use Mopidy-Spotify for Spotify requests instead of re-authentication and use of Spotify HTTP API"
Fresh install of Spotmop & Mopidy.

Pop-up asking for the user to connect their Spotify account by logging in, even when the account I want to use has already been defined in the Mopidy configuration file.

Hopefully going to use Spotmop in a co-working space :)

[2016-01-08 17:19] kierwils commented on #42
Exact same issue here, clean install on Raspbian Jessie, also want to use in the office

[2016-01-10 19:53] jaedb commented on #42
The main driver for developing this was for our office environment too - so I'm glad it has appeal for others.

Currently the Mopidy config file's credentials are used in the `Mopidy-Spotify` backend and are not available for use in the frontend. Basically Spotmop uses additional Spotify endpoints that aren't currently available on the `Mopidy-Spotify` backend, so you will need to authenticate aga

[2016-01-11 00:02] ghost opened #43 "Tracks not showing when using Chrome"
I can't get it to show tracks, when using Chrome, it works however on my phones browser

[2016-01-11 00:06] #43 closed, assigned to nobody

[2016-01-11 00:22] ghost opened #44 "Integrate Youtube and SoundCloud in search"
It would be awesome to be able to search these to services, perhaps even create somekind of custom playlist, where you can add YT, SC and Spotify tracks.

[2016-01-11 19:51] jaedb commented on #44
Agree - at some stage it would be good to implement more sources. I have also considered Google Music. At this stage the focus is on Spotify and local files, but will start thinking about the best way to expand to these media sources.

[2016-01-11 19:52] #24 closed, assigned to nobody

[2016-01-11 20:07] ghost commented on #44
Great!
I actually think that mopify has basic implementation of youtube, so perhaps possible to get inspiration from there :)

[2016-01-12 13:01] damian-w commented on #42
No, just once!

Trying to implement Spotmop in a co-working space, but not many individuals have Spotify which won't be too good :/ We were just planning on using our "group" Spotify account.

Any idea when Spotmop won't require this secondary authentication?

[2016-01-12 14:21] ghost opened #46 "Can't get featured to show other countries than NZ"
No matter what I do, I can't get other countries featued playlists to show

[2016-01-12 19:02] jaedb commented on #42
@damian-w we have a similar problem at our office, and we resolve it by having everyone login to Spotify using the same login details. Because the music is only playing on one server (despite multiple people using the single authentication to browse), you won't encounter any issues.

At this point the `Mopidy-Spotify` backend doesn't provide all of the functionality required by Spotmop, so until t

[2016-01-12 19:11] jaedb commented on #46
Identified as issue with settings field vs setting value. Resolved in bb325d1fc9826d02aea8a8d776e85c528eed5526 and packaged for next release (`2.5.4`)

[2016-01-12 19:11] #46 closed, assigned to nobody

[2016-01-13 02:35] jaedb opened #47 "Analytics tracking"
Implement Google Analytics, and include in disclaimer.

[2016-01-13 08:04] jaedb opened #48 "Mobile context menu behavior"
- Adding to playlist adds duplicates (ngClick clone?)
- Selecting and deleting from tracklist removes all tracks

[2016-01-13 18:59] jaedb commented on #48
Resolved in release `2.5.4` (27c7dce)

[2016-01-13 18:59] #48 closed, assigned to nobody

[2016-01-13 19:00] jaedb commented on #46
@Kantraz this is now released

[2016-01-13 19:05] ghost commented on #46
Fantastic!
I must say I really like this UI, much faster and prettier than mopify!

[2016-01-14 08:33] damian-w commented on #42
@jaedb I'd love to do this, but being a public co-working space we wouldn't be able to trust the countless visitors we encounter daily with our Spotify account! :/

If you ever develop a work-around / ability to set a default Spotify account to login to, give me a shout and we'd be most certainly happy to help test it out!

[2016-01-14 19:33] jaedb commented on #40
Scheduled for release with `2.5.5`

[2016-01-14 19:33] #40 closed, assigned to nobody

[2016-01-18 19:21] jaedb commented on #47
Packaged and released as `2.5.6`

[2016-01-19 22:28] jaedb commented on #42
@damian-w Unfortunately after further investigation this is quite involved and would require work on the `Mopidy-Spotify` extension (https://github.com/mopidy/mopidy-spotify). I wouldn't expect this to be resolved in the short term, but keep an eye on development in this area.

[2016-01-21 04:05] hcoohb opened #49 "webpage not found"
After install and restart of mopidy, I cannot access the webpage.
When going to the url, I have a 404 page not found.
I am using a raspberry pi with raspbian Jessie distribution

I am not sure what to do to have it working

In my log of mopidy I have the following:
INFO     Starting Mopidy 1.1.2
INFO     Loading config from builtin defaults
INFO     Loading config from /home/xxxx/.config/mopidy/mo

[2016-01-21 05:06] jaedb commented on #49
It looks like the default port that the push notifications system uses (port 6681) is in use. You will need to set Pusher to use a different port. To do this, edit your config file (_/home/xxxx/.config/mopidy/mopidy.conf_) and add the following lines (where _xxxx_ is your desired port number):

[code]

This will change the port for the Pusher server, but remember you'll need to specify this in the

[2016-01-21 12:09] LasseSLambertsen opened #50 "Better support for Local MySQL"
When using MySQL for local track database, not all categories entries are populated;
artist, album, release years, composers, performers

[2016-01-21 14:01] choseh opened #51 "German Umlauts not working in Search"
Hello,

unfortunately searching for artists with german umlauts in their names is currently not working.

Steps to reproduce:
- Search for Blümchen
- no Blümchen :(

(http://hostname:6680/spotmop/#/search/Bl%C3%BCmchen/artist)

Cheers,
Alex

[2016-01-21 14:10] choseh opened #52 "Feature Request: Support for Veto Threshold"
Here in the office it would be nice to have a configurable veto threshold.

"3 people vetoed this track, skipping"

Thanks in advance

[2016-01-22 06:13] hcoohb commented on #49
Hi,

Thank you for the quick answer!
Yes, there was definitely a session of ympd running on that port. Stopping ympd solved the issue.
I think I'd rather change the port for ympd so I have a simple setup for spotmop.

And btw, I really like spotmop, more responsive than mopify from my early testing
Thanks for your efforts!

[2016-01-22 06:14] hcoohb commented on #49
(Just as a comment, I will close the issue, but it would maybe be worth mentioning that setup in the main github page)
Cheers

[2016-01-22 06:14] #49 closed, assigned to nobody

[2016-01-22 19:37] jaedb commented on #49
@hcoohb good point, I'd like to create a proper documentation page but for now I've added this to the readme (c10aa62). Glad it's working for you now!

[2016-01-24 16:03] qurben opened #53 "Spotmop does not work with HTTPS"
I tried installing spotmop in my Mopidy installation, but I am unable to play files, because spotmop tries to do requests over HTTP, which isn't allowed by the browser.

Websocket connections are also done over non-secure websockets.

[2016-01-25 20:55] jaedb commented on #53
What kind of browser are you using that prevents HTTP requests?

[2016-01-25 21:19] qurben commented on #53
I am currently using Mozilla Firefox 43.0.4

When I load the page I can see the progress of the current song and use the Play/Pause button.

Explicitely allowing http request allows me to see my playlists. Next/previous doesn't work at all.

[2016-01-26 19:47] jaedb commented on #51
Good spotting - I've now patched this and released a new version that resolves this issue. See in release `2.5.9` or commit 8e1cac3bb64f1e6987396c10a3d470ad96051fa9.

[2016-01-26 19:47] #51 closed, assigned to nobody

[2016-01-27 08:47] damian-w commented on #42
@jaedb Dang! How about a default Spotify account? Say have a configuration file where I can set the username and password of our Spotify account, and it'll automatically login?

[2016-01-27 20:06] jaedb commented on #42
The way that Spotify works is by using OAuth, and this requires the user to login with their credentials to 'authorize' the application to use said user account. Then using that authorization we generate a token which is required for the majority of the Spotify endpoints. This means that without Spotify authorization Spotmop is highly limited.

That being said, I'm exploring an option to make it o

[2016-01-28 23:31] jaedb commented on #42
@damian-w I've just pushed up a version to the branch `feature/publicspotify` that is ready for testing. Are you able to clone this repo and install a development version of Spotmop?

[2016-01-30 03:44] damian-w commented on #42
@jaedb awesome! I'm on leave, but I'll get another member of the team to look into it! :)

[2016-01-30 04:30] jaedb commented on #42
Have a hoon on v2.5.10 which I've just released :-)

Please note that loading playlists is very slow for some reason. I suspect due to accessing via Mopidy backend via Mopidy-Spotify via Spotify API...

[2016-01-31 22:32] jaedb commented on #53
Can you please provide more information about why your setup requires HTTPS requests? Are you using a proxy or similar network setup?

[2016-01-31 22:42] jaedb commented on #42
Reasonable compromise achieved - 90% functionality without requiring Spotify Client Authorization. Please re-open this issue if you find this functionality doesn't work as expected.

[2016-01-31 22:42] #42 closed, assigned to jaedb

[2016-02-01 11:29] qurben commented on #53
I recently moved my entire infrastructure over to HTTPS, with Let's Encrypt. Mopidy is running behind nginx.

It is not required to use HTTPS, but the internet is slowly moving away from HTTP. That said, detecting a secure connection and using it isn't a complex thing to do.

[2016-02-03 02:27] jaedb opened #57 "Deselect track on blur"

[2016-02-03 19:19] jaedb commented on #50
The Mopidy MySQL-based library must be a slight deviation of format from the local JSON library. It'll require further investigation. Watch this space.

[2016-02-07 19:26] jaedb opened #59 "Minified file strips unicode strings"
Strings like `\u25A0` for the play icon are being stripped during build.

[2016-02-08 17:43] wezzynl opened #60 "Cache Mopidy playlists"
When a user doesn't log in to Spotify from the webinterface, Spotmop fetches the playlists from Mopidy. This however does not seem to be cached. When having loads of playlists this takes a rather large amount of time. If it would be cached locally, it would be a major speed-up. Would need some sort of refresh button so users can refresh the cache.

[2016-02-08 17:51] wezzynl opened #61 "Access Token fetching"
Would be nice to allow users to handle their own Access Token fetching in stead of going through a PHP file on some server where we don't know what's actually being done there.

Seems Spotify also allows for Implicit Grant Flow (https://developer.spotify.com/web-api/authorization-guide/#implicit_grant_flow) it would then redirect directly to the app's callback URL with the Access Token. No server-

[2016-02-08 20:01] jodal commented on #60
libspotify should cache the playlists for us.

Note that there is a huge performance difference between the old and new playlist API in Mopidy. Make sure you use the "new" playlist API: `mopidy.playlists.as_list()` and `mopidy.playlists.get_items()`. The `mopidy.playlists.get_playlists()` command was deprecated in Mopidy 1.0 and should not be used.

[2016-02-10 19:24] jaedb commented on #60
@jodal Brilliant, thanks for the heads up. @wezzynl I've updated the implementation and have this in the pipeline for the next release.

One thing I noticed (hence the notification when opening the Playlists page) is the time Mopidy takes to fetch the playlists depends on the power of the computer Mopidy is running on. My setup at home runs on a RaspberryPi 1 B+ and this page can therefore take so

[2016-02-10 19:45] jaedb commented on #61
@wezzynl Unfortunately the Implicit Grant Flow requires a whitelist of all valid `redirect_url`s. Basically this would mean for every user I would need to add their IP address or domain to the Spotify App's whitelist. While this was fine when it was just a small project that only I was using, it's really viable now.

Basically the off-site request goes to a public domain (which is whitelisted) and

[2016-02-10 19:47] jaedb commented on #52
Hi, thanks for your feedback! Are you thinking it'd work kinda like [Apollo Player](https://github.com/samcreate/Apollo-Player)?

[2016-02-10 20:34] wezzynl commented on #61
@jaedb sure it requires a whitelisted redirect_uri but if users could specify their own Spotify OAuth App then those who'd want could just do that; create an OAuth App after registering as Spotify dev and off they'd go.

If I can find time to tinker, I'll certainly will. However time is scarce, which is why I want to thank you for your efforts. Great UI!

[2016-02-11 20:01] jaedb commented on #50
@LasseSLambertsen I'm working on this now and am hoping to include a basic patch in the next release. I'd like to spice the local files area up a bit to align with the Spotify-sourced look and feel, but that's a few releases away. Just wanted you to know that it is coming :-)

[2016-02-12 07:07] LasseSLambertsen commented on #50
@jaedb Sounds great, looking forward to it!

[2016-02-14 19:48] jaedb commented on #50
Note to self: Also need to address `TlTrack` interactivity (ie artist and album links). Will need a sub-class of `TlTrack` for local files.

[2016-02-22 18:46] jaedb commented on #50
@LasseSLambertsen It's a tricky issue that I haven't quite cracked. There seems to be a discrepancy between how Mopidy provides the "folders" (in this case categories) and how it expects them to be requested. In any case I've made _some_ improvements into the handling of local libraries, see `v2.5.16` (22d5089).

[2016-02-22 18:48] jaedb commented on #53
Hi @qurben have you had any experience with HTTPS and Python's Tornado and Websockets servers? If so, you might be able to help me implement this :-)

[2016-02-22 18:49] jaedb commented on #19
Set to use top tracks for now, will re-address if this becomes a bigger issue.

[2016-02-22 18:49] #19 closed, assigned to nobody

[2016-02-22 18:54] jaedb commented on #57
Resolved in `v2.5.15`

[2016-02-22 18:54] #57 closed, assigned to jaedb

[2016-02-22 18:57] jaedb commented on #60
Resolved in v2.5.15 (6a6f68be61b2a6e5dd9d7f372313f8793f452e2a)

[2016-02-22 18:57] #60 closed, assigned to jaedb

[2016-02-25 07:41] jaedb opened #65 "Scrolling with asset sidebar"
- Assets (playlists, albums, etc) with sidebars should use magic-scrolling to nicely stick until next elements are shown (just like Mopidy docs)
- Simplify scrolling and have the whole page scroll instead of a nested, fixed `div` element

[2016-02-25 07:43] jaedb opened #66 "Context menu add to playlist"
- Use nested contextmenu for adding to playlist (instead of popup)

[2016-02-26 14:51] choseh commented on #52
Hey,

yeah, pretty much like Apollo.

Thanks in advance

[2016-02-26 14:55] atze234 opened #67 "[Feature request] Currently playing tracks 'added by' property"
Hi,
it would be nice to see which Spotmop user added a Song to the actual running Playlist. Is it possible to add a User Column to Now Playing?

Thank you for this wonderful Mopidy Frontend :)

[2016-02-26 14:58] atze234 opened #68 "Feature Request: Disable Play on Double Click"
When Doubleclicking a Song the Running Playlist is truncated. Would'nt it be nice when the doubleclicked Song is added to the Playlist instead?
Same for the "Play" Button in Context Menu.

[2016-02-29 19:13] jaedb commented on #67
@atze234 I agree! This is something that I started looking in to, but it will require some Mopidy backend coding to handle the users from across multiple connections and then store that user data for each track. It's tricky business but it is on the list!

[2016-03-01 18:54] #66 closed, assigned to nobody

[2016-03-01 18:55] jaedb commented on #66
Implemented at `2.5.17`

[2016-03-01 19:08] jaedb commented on #59
Scheduled for release in `2.5.19`

[2016-03-01 19:08] #59 closed, assigned to jaedb

[2016-03-01 19:11] jaedb commented on #52
@choseh Currently when a track is 'vetoed' it is an indication that a user has skipped said track. Unlike Apollo, Spotmop doesn't require a certain level of votes to action a skip - it happens immediately. It might be a nice feature to have further down the line though!

[2016-03-01 19:11] #52 closed, assigned to nobody

[2016-03-03 13:14] choseh opened #70 "Empty Playlist, No Search Results (Tracks)"
Hey,

seems like "Rebuild tracklist object to facilitate multiple instances within a single scope" resulted in some regression. It happens that there are no results for tracks after searching or the current playlist appears empty (no tracks).

Error:

app.min.js:10 Error: [ng:areq] Argument 'TracklistController' is not a function, got undefined
http://errors.angularjs.org/1.4.0-rc.1/ng/areq?p0=Tra

[2016-03-07 21:16] jaedb commented on #70
Due to missing the upgrade to `tracklist` directive in search results. Resolved in release `2.6.0` 5ea7ab4

[2016-03-07 21:16] #70 closed, assigned to jaedb

[2016-03-09 18:40] jaedb commented on #68
@atze234 Interesting feedback. I wasn't 100% sure how to design this interactivity so used Spotify's app as a benchmark. I guess it comes down to what the user expects to happen.

Is the desired behavior of double-click the same as what the context menus's "Add to queue" current does?

[2016-03-09 18:43] jaedb commented on #37
Done! Release `2.6.0`

[2016-03-09 18:43] #37 closed, assigned to nobody

[2016-03-09 19:24] jaedb opened #72 "Add follow user"
- Setup ability to follow users (as per Spotify)
- Handle where 'followed users' lives. Library? No, perhaps create a "Me" tab?

[2016-03-09 19:36] jaedb commented on #44
It looks like the `Mopidy-Youtube` extension is quite basic, so I'm wary of the level of involvement to get this running to the same quality as Spotify and Local files.  I'll flag this functionality for a future release when that extension becomes a bit more stable.

[2016-03-10 13:31] choseh commented on #68
@jaedb maybe add an option to configure the desired behavior of double clicking? I share the office with @atze234 and yes, sometimes someone doubleclicks a song and the entire playlist is empty ;)

[2016-03-10 13:32] atze234 commented on #68
Yep, i think it would be better doing the "Add to queue" on doubleclick ;)

[2016-03-14 19:28] jaedb commented on #44
PS. I have integrated the Soundcloud backend into the player functionality. You can now add items via URI (across all supported backends) as at `2.6.2` 1ec26f7. I'll continue to explore what the best way is to integrate into the UI itself.

[2016-03-16 19:07] jaedb commented on #65
Resolved in e772020 (`2.6.0`)

[2016-03-16 19:07] #65 closed, assigned to nobody

[2016-03-20 15:53] allo- opened #74 "Feature request: Server-managed Spotify authentication"
Each time i open spotmop, i need to enter a name and reauthenticate with spotify.
Spotify music in mopidy continues working, but the web interface needs a new authentication.
- Mopidy-Spotify (3.0.0)
- Mopidy-Spotmop (2.5.14)

[2016-03-20 19:14] jaedb commented on #74
It might be possible that `localstorage` isn't supported on your browser if it's an older version. What browser and OS are you running?

[2016-03-20 20:32] allo- commented on #74
Chromium. It's possible, that localstore is cleared in between and i wanted to use different computers.
Why isn't the login stored server side? The credentials are configured for mopidy anyway, so another api token won't harm, i guess.

[2016-03-22 03:26] jaedb commented on #74
`localstorage` is essentially just a cache that is per browser per computer. So if you were to clear your browser cache, use incognito mode, use a different computer or browser then those cached values will not be used. Is this the type of scenario that you're describing?

The configuration of login credentials within the `mopidy.conf` file are for the Mopidy-Spotify backend and are separate to th

[2016-03-22 07:19] allo- commented on #74
Yes. So let's ask the other way round: Can the credentials be stored server side in some way?
Best, if they could not be retrieved via the client, so people can for example control an open mopidy server and play all music without knowing my login details.

[2016-03-23 19:32] jaedb commented on #74
Yes and no. They could be, but that deviates from the current scope of the project. The key idea is to have a self-contained web interface (for now) as my experience in Python is limited, at best.

On a side-note, having Mopidy server handle authentication is great except that any changes any user makes to the playlists, following, my albums, etc will affect all users using that Mopidy server. I c

[2016-03-23 21:12] allo- commented on #74
Hmm, i do quite some stuff in python, but did not yet work on anything mopidy related.
I guess it's mostly about an authentication token? Possibly it could just be stored / loaded via AJAX as it is.

Maybe mopidy has some way to store values in the config / in other mopidy related files/databases.

[2016-03-25 20:42] hlgirard opened #76 ""Next track button" does not behave as expected"
The "Next track" button skips backwards within the track instead of going to next track.
My configuration: Spotmop 2.6.2 running on a Raspberry Pi 3 (Raspian Jessie) and accessed from Chrome 49.0.2623.87.

[2016-03-30 23:22] jaedb commented on #76
@hlgirard what version of Mopidy are you running?

[2016-04-03 23:12] hlgirard commented on #76
I have version 2.0.0 of Mopidy installed with apt-get and kept up to date. I just updated all packages and the abnormal behavior is still happening.

[2016-04-03 23:16] jaedb commented on #76
@hlgirard I haven't been able to replicate this issue just yet, but I'll try a few more combinations. I don't have a Raspberry PI 3 to test on (only 1B+ and 2) but I wouldn't expect this to have any impact on this issue.

Are you able to give me an example tracklist of URIs that you experience this on? Do you experience this issue when using the interface from Firefox or another modern browser?

[2016-04-07 23:01] hlgirard commented on #76
@jaedb It happens for all tracks grabbed from my spotify account. An example URI would be the following: spotify:playlist:0eDq2STmk8tKcD7qWCwrze

The issue happens on both Chrome and Safari (running on a mac). The back button works exactly as expected. The next button, however, seems to restart the track playback, without restarting the timing counter and progression bar, though.

Edit: Added a sc

[2016-04-13 14:40] ddelnano opened #77 "[Feature Request] When right clicking ability to copy track link from source"
I commonly use the share functionality in the official Spotify client to send my friends a song / album I just discovered.  Could this functionality be added?  I have no problem making a PR with the change but I just want to see if it would be accepted before I put any effort in.

Basically I just want some way to be able to copy / access the url of the spotify song.

[2016-04-13 17:20] ddelnano commented on #76
I have the opposite problem where the next track button works fine but the previous button does not work.

Don't think that this should matter but I am running mopidy on a raspberry pi 3.

[2016-04-13 17:22] ddelnano commented on #76
Maybe an I not understanding the queue correctly?  Once a song completes am I not able to go back and replay it?  Thats what I was trying to do and I can restart the current song but not replay the song before the current one.

[2016-04-13 19:15] gaiterjones opened #78 "cannot connect more than one client browser"
Have installed mopidy and your web interface for use with spotify, works great from one client, but from others I just get mopidy server is offline in settings. i.e. i start mopidy (running on raspbian) login to the web client from my laptop and am asked to create a username and am connected. from 2nd or more clients, ipad, iphone etc the client settings say the server is offfline no matter what s

[2016-04-13 20:32] jaedb commented on #76
@hlgirard thanks for that screenshot, it helps explain in more detail what is happening. I suspect there is something funky going on with the Mopidy backend, rather than the Spotmop web frontend.

Are you savvy with the command line interface? Perhaps you could try another front-end to debug the Mopidy backend. I personally use the `mpd` commandline for this. Then you'd be able to perform the next

[2016-04-13 20:42] jaedb commented on #76
@hlgirard I'm making progress! I have managed to replicate some funky behavior, similar to what you're experiencing. Can you please try disabling _Consume mode_ and seeing if this fixes the issue?

[2016-04-13 22:09] ddelnano commented on #76
Ah I was wondering what consume mode was. That makes perfect sense now.

[2016-04-13 22:53] hlgirard commented on #76
@jaedb Thanks for getting back to us. I have done a bit more testing and can confirm that:
1. The issue does not happen with another front end (I used MusicBox to test)
2. The issue happens regardless of whether Consume mode is enabled.

[2016-04-13 23:58] jaedb commented on #76
@hlgirard are you able to try an interface reset for me? Under _Settings_, check _Enable advanced settings_ and click _Reset all settings_. This should have little effect, but worth trying.

[2016-04-14 00:04] jaedb commented on #78
@gaiterjones you will likely need to set the IP address (or domain name) of the server that is running the Mopidy server. You can find this on _Settings_ > _Mopidy Server_ section.

Out of the box it will work on your main client because (at a guess) that is the machine running Mopidy.

Let me know if this works.

[2016-04-14 00:08] hlgirard commented on #76
@jaedb Just did. It did not have any effect

[2016-04-14 02:39] benjaminshell opened #79 "Using Spotmop with mobile device"
I just installed mopidy and decided Spotmop would be a great client to use. However the screenshots show that I can use/control Spotmop with a mobile device. How do I go about doing this?

[2016-04-14 02:49] jaedb commented on #79
@benshell15 Glad you've made the leap and given it a go :-)

To use it on your mobile device, you will need to know the IP address (or hostname) of the computer that is running Mopidy on your local network. You then go to this IP address + port 6680 (unless you've set a custom port) and Spotmop will work just like any other mobile-responsive website.

So for example my Mopidy server is 192.168.1.5

[2016-04-14 03:17] benjaminshell commented on #79
I entered 150.201.183.214:6680 and nothing happened. I figured I had to change something in the config file so I changed the hostname under http to 150.201.183.214 from 127.0.0.1. That didn't do anything either.

[2016-04-14 03:28] jaedb commented on #79
Your Mopidy config file (ie `~/.config/mopidy/mopidy.conf`) will need to allow connections from all IP addresses. For example:

[code]

Then restart Mopidy server. From your phone, navigate to http://150.201.183.214:6680. This IP address looks like a remote IP address (not a local network) so you'll need to have port forwarding configured on your router. I would recommend ensuring your phone is on

[2016-04-14 03:49] benjaminshell commented on #79
I'm on a university network, so the router is managed by my school. I won't be able to enable port forwarding. Thank you for your help.

[2016-04-14 03:53] jaedb commented on #79
Are your Mopidy server and phone devices both on the same network? If so, you should be able to connect without any port forwarding trickery. In any case, I'd look at the Mopidy documentation to allow connections from all IP addresses.

[2016-04-14 11:46] ddelnano commented on #77
@jaedb since you tagged it does that mean you would accept a contribution?

[2016-04-14 17:23] gaiterjones commented on #78
mopidy is running on a raspberry pi. the spotmop client seems to run ok on some devices and not at all on others, reporting that the server is offline when on another device it is working. strange will try another client and see if i see the same problems,

[2016-04-14 17:30] #78 closed, assigned to nobody

[2016-04-14 19:16] jaedb commented on #77
@ddelnano Feel free to fork, make your change and make a pull request :-)

[2016-04-14 19:17] ddelnano commented on #77
:+1:

[2016-04-14 21:42] v1nc commented on #74
I like your project very much, but its useless for me if the credentials are only stored client sided. You throw away every advantage mopidy has. If someone wants to play music just from one device, he can just do it from the device and not over a server. Its very sad, that this is out of scope for you, I'm new to mopidy extensions, but i think client side saving is harder to do than server sided

[2016-04-14 22:11] jaedb commented on #74
@v1nc thanks for your feedback.

It is worth noting that this limitation is not a limitation of Spotmop. It is due to how Spotify handles authentication. In many cases server-side (aka _Client Credentials flow_) authentication is sufficient. You can use this by not logging in to Spotify via Spotmop.

However, for several Spotify API endpoints we require user-specific information that requires the

[2016-04-15 06:30] allo- commented on #74
I think a flow sending the authentication token (i think it's an oauth method?) to the server to store it there would be possible. If the token is sent to (new) clients or if all api access is made by the server (better protecting the token) can be changed later.
From an concept point of view, maybe even mopidy should store the token in some way, that all plugins can access it, for example spotmop

[2016-04-15 20:19] jaedb commented on #61
Related discussion: #74

[2016-04-15 20:20] #8 closed, assigned to nobody

[2016-04-15 20:21] jaedb commented on #41
Echonest being discontinued. Spotify API to pick up where this left off.

[2016-04-15 20:21] #13 closed, assigned to nobody

[2016-04-16 20:01] snoopaki opened #80 "Adding to playlist on Mobile"
Hello, great work on spotmop!

I am having a problem using it on my mobile device. I can't seem to add anything to a playlist via the context menu. The playlists show up but I can't "select" one.

I have the exact same problem on a regular browser when "Emulate Touch Device" is enabled. I choose the tracks, select add to playlist, my playlists show up as icons but I can't choose one!!!

Other than

[2016-04-16 23:11] jaedb commented on #80
@snoopaki You're dead right! I'll make sure this is fixed in the next release :-)

[2016-04-16 23:41] jaedb commented on #80
Resolved in 5818c090245881a179482dc840507d2112e977ba and will be in release `2.6.3`

[2016-04-16 23:41] #80 closed, assigned to jaedb

[2016-04-17 20:37] jaedb commented on #44
Basic integration in place for Soundcloud as at `2.6.3`. This will be improved as we go to add browsing etc.

[2016-04-17 20:37] #44 closed, assigned to nobody

[2016-04-17 20:37] #79 closed, assigned to nobody

[2016-04-18 20:35] jaedb commented on #76
@hlgirard Side thought... have you got Echonest enabled?

[2016-04-18 21:09] hlgirard commented on #76
No, I don't.

[2016-04-19 12:42] gaiterjones opened #82 "CSS/styling issue apache mopidy mobile devices"
I am seeing some sort of CSS / styling issue with mobile devices when I access spotmop on the mopidy server via an apache website (http://server/mywebsite/spotmop).

On desktop devices spotmop renders correctly, on mobile devices elements do not seem to be styled correctly i.e. the now playing page is completely unstyled.

On desktops spotmop looks and works fine, on mobile devices styling is not

[2016-04-19 17:49] sbctm opened #83 "include spotify's suggestions into 'discover' section"
The spotify-webplayer shows a lot of useful suggestions for me under Browse -> discover, e.g. 'top recommendations' or 'because you listened to some band'. It would be awesome if spotmop could show these recommendations as well.

[2016-04-19 17:54] sbctm opened #84 "[Feature request] Handle large lists in 'My Albums'"
If many albums are favored, it takes a really long time to scroll through the list of albums. It would be nice to have the possibility to collapse the titles and display all covers in a grid (like in the mopify webclient).

[2016-04-19 19:02] sbctm opened #85 "'add to library button' should be a 'remove' button if album is already added"
In album view, where the cover and the tracks of the album are displayed, there are two buttons 'play' and 'add to library'. The 'add to library' button should be a 'remove' button, if the album is already added.

[2016-04-19 19:25] jaedb commented on #83
@sbctm I agree. When you say _spotify-webplayer_ do you mean the [Spotify web application](https://play.spotify.com)? It's annoying because Spotify have kept the bulk of their recommendation engine from public access through their API.

That being said, now that Spotify is discontinuing Echonest, they have merged _some_ of the Echonest recommendation engine into the Spotify API.

This all means th

[2016-04-19 19:25] #83 closed, assigned to nobody

[2016-04-19 19:31] jaedb commented on #82
@gaiterjones Can you please send some screenshots? Also, what directory are you referencing as your apache `DocumentRoot`? `/src` or `/mopidy_spotmop/static/`?

[2016-04-19 19:38] sbctm commented on #83
@jaedb Yes, I meant the Spotify web application. The screenshot looks awesome, this is exactly what I was hoping for. Thanks a lot for your effort!

[2016-04-19 19:50] sbctm commented on #83
@jaedb Sorry to bother you again with this. I have installed version 2.6.3 through pip and the Discover section does not look like your screenshot. I only have two sections there: 'some old favorites' and 'because you're listening to <what is currently playing>'.
The version bump to 2.6.3 is done in the commit you referred to, so I assume I should see the 'because you listened to' sections as well

[2016-04-19 20:01] jaedb commented on #83
@sbctm You may need to clear your browser cache completely as the templates have been changed as part of this release. Let me know if this fixes it.

[2016-04-19 20:10] sbctm commented on #83
@jaedb Clearing the cache does not fix it for me. In fact I have first installed spotmop today, so 2.6.3 is the only version ever installed on my system.

[2016-04-19 20:52] jaedb commented on #83
@sbctm Hmm, that is quite odd. I traced it back and it looked like the PyPi repository didn't include this functionality in the release. More than likely human error :-p

Pushed through release `2.6.4`, so give that a crack.

[2016-04-20 08:48] sbctm commented on #83
@jaedb Now it's working as it should. Thanks a lot!

[2016-04-20 11:36] gaiterjones commented on #82
http://server/spotmop references /src where /spotmop is an alias. I see the same results when /src is also document root.

Desktop access works fine, mobile access is unstyled. Mobile access via mopidy 6680 works fine.

Left pic mobile via mopidy (TCP6680), right pic mobile via Apache/2.4.10 (Raspbian) document root as /src from github.

![spotmop](https://cloud.githubusercontent.com/assets/390988

[2016-04-21 20:04] jaedb commented on #85
Scheduled for patch in next release (#86)

[2016-04-21 20:04] #85 closed, assigned to jaedb

[2016-04-21 20:05] #5 closed, assigned to nobody

[2016-04-21 20:05] jaedb commented on #39
Kind of remedied by using `<body>` as the scrolling element. Browser remembers previous scroll position.

[2016-04-21 20:05] #39 closed, assigned to nobody

[2016-04-21 20:06] #41 closed, assigned to nobody

[2016-04-25 19:42] jaedb commented on #68
@atze234 I've come to realise you're absolutely right. Many of the users at our office 'get it', but natural behavior is to double-click to play the song immediately. Even if the intent was to continue playing the tracklist once said track finishes.

Anyway, I've adjusted the functionality and expect to release in version `2.6.5` as at 2030f34993f4e856830a2b67b146c14cd93071a0

[2016-04-25 19:42] #68 closed, assigned to nobody

[2016-04-25 19:42] jaedb commented on #77
Preliminary version scheduled for release `2.6.5` as at f052e23235e669a76063c0475d17ab5bf2e099f5

[2016-04-25 19:42] #77 closed, assigned to nobody

[2016-04-26 19:35] jaedb commented on #82
@gaiterjones Try setting your `DocumentRoot` up one level (so `/var/www/mopidy/` in place of `/var/www/mopidy/src`). Then access the interface via `http://myip/src/`.

[2016-04-26 19:35] #82 closed, assigned to nobody

[2016-04-28 18:01] raymiec opened #87 "Context menu bug Google Chrome"
Upon selection of a track via checkbox or right click the context menu shows for a second and quickly hides itself again. thus the context options can't be clicked.  This behaviour presents itself on windows using chrome and also on android. behaves as expected in firefox.

[2016-04-28 19:11] jaedb commented on #87
@raymiec This is a known issue and was tied to the 'Copy URI' functionality introduced in `2.6.4`. It'll be resolved in the next release (currently in dev).

Just to confirm - you're experiencing this on touch devices only?

[2016-04-28 19:24] raymiec commented on #87
Yeah both are touch devices, although the laptop is a hybrid (has a touch screen), i disabled the hid drivers, and rebooted, the issue still presents itself on chrome, i'll check it later on a normal laptop and report back.   For now i moved the context menu div.

[code]

it now functions on chrome in android, the menu appears static on the header of the page, is this expected behaviour? would be

[2016-04-28 19:38] raymiec opened #88 "Blank artist page"
Could not find any way to manually populate the artists page, i assume the data is taken from spotify, in that case i get a 403 when the client is making the call.

GET https://api.spotify.com/v1/me/following?type=artist

403 Forbidden   828ms

response

  "error": {
    "status": 403,
    "message": "Insufficient client scope"

possibly not enough permission when authentication spotify api?

I ga

[2016-04-28 19:43] jaedb commented on #87
It's weird that moving the markup changed anything (I broke it on environment).

I suspect the browser was detecting (rightly or wrongly) a scroll event, and hid the context menu. This doesn't make for a friendly UX on touch devices in any case, so I've limited it to non-touch devices.

I've just pushed this to `develop` branch now (commit 2707b70). Are you able to confirm that this fixes the issu

[2016-04-28 19:44] jaedb commented on #88
When you say _manually populate the artists page_, what do you mean exactly?

[2016-04-28 19:51] raymiec commented on #88
Saving favourites from spotify, i.e follow artist. I'm guessing the expected functionality when clicking on Artists on the left menu is that it will populate the list from the spotify api with a a list of artists you follow?

[2016-04-28 20:03] raymiec commented on #88
i get the same error on an artists page which contains the follow button, also 403, so even if im following an artist it wont be reflected on the button, i.e it will still say follow.

[2016-04-28 20:04] jaedb commented on #88
Can you try logging out of Spotify and re-authenticating? Or better yet, in _Settings_ click _Reset all settings_?

[2016-04-28 20:28] raymiec commented on #87
Sorry i removed the scroll event, the js file was cached so thought it was just moving the contextmenu div.   What negative impact is removing that event likely to have?

[2016-04-28 20:31] raymiec commented on #88
I reset all I reset all settings, problem still persists, heres a list of permissions i granted it
-
- Read your publicly available information
- Manage your private playlists
- Manage your public playlists
- Access your private playlists
- Manage your private playlists
- Access your saved tracks and albums
- Manage your saved tracks and albums
- Manage who you are following
- Read your top artist

[2016-04-28 20:38] raymiec commented on #87
yeah looking at your commit that's what i removed and it fixed the issue on mobile.  on the desktop browser right click is not working and neither is when you check the boxes in the list of tracks, if you resize the browser to mobile size then selection of the checkboxes work. although if you proceed to right click it totally screws it again.

[2016-04-28 20:49] jaedb commented on #88
I'm confused as to where you're selecting the permissions you want to grant. You either grant Spotmop access to it's defined permissions or you don't, there isn't anywhere you can pick and choose those permissions.

Can you please provide me with the following:
- Browser version(s)
- OS and version
- Mopidy version
- Mopidy-Spotify version
- Spotmop version

This will help me try and replicate the

[2016-04-28 20:53] jaedb commented on #87
This appears to be an issue with a hybrid device. I don't have such a device to test on, so it'll be tricky to accurately patch this.

It sounds like you're pretty handy with HTML + Javascript, perhaps you could have a look into this?

[2016-04-28 21:10] raymiec commented on #88
thats the list it ask for when authenticating. As you said i can choose to accept or deny all of them.   laptop  browser: chrome Version 50.0.2661.94 m      OS windows 8.1      i have the latest ver of mopidy from apt.mopidy.com runnin on a pi2 model b.  mopidy spotify version i assume the latest, i've switched the pi off for tonight so i can't confirm. and v 2.6.4.   I can attach some screenshots

[2016-04-29 10:44] raymiec commented on #87
Just tested it on my other laptop, not hybrid, similar specs,  windows 10, latest ver of chrome. The problem still persists. I'll look into it and hopefully get a proper fix for it soon. I'm going to get in about the project over the weekend. I've not worked with Angular.js before so once i get my head round that i may be able to contribute more.

Also a bit offtopic for this thread sorry but ther

[2016-04-30 14:00] Bluscreenz commented on #87
Same issue on iPhone in both Chrome and Safari.

[2016-04-30 14:05] raymiec commented on #87
I'm just waiting on a new micro sd card being delivered for my raspberry pi and i'll get another installation built and look into the issue properly.

[2016-04-30 15:22] raymiec commented on #88
Can you post your spotify authentication script from your server, i assume thats where the client scope for spotify is held,   Whats stopping us using the access tokens from the mopidy spotify service? it might already have all the permissions required, it would also eliminate the need for users to login from every device. if i have people over i don't want to have to give every person my spotify

[2016-04-30 17:30] raymiec commented on #88
another related authentication bug, when trying to authenticate within an android webview.

I get that in the console after clicking okay to authenticate spotify, i then expect to be redirected to the app but a page just displaying "Error!"

04-30 18:27:01.278: I/chromium(6784): [INFO:CONSOLE(3)] "Uncaught TypeError: Cannot read property 'postMessage' of null", source: http://jamesbarnsley.co.nz/s

[2016-05-01 15:54] raymiec commented on #88
to fix the blank artist page add user-follow-read to the scope

[2016-05-01 19:49] jaedb commented on #88
I've added `user-follow-read` to the scopes requested. Can you confirm this has resolved the issue?

[2016-05-01 19:55] raymiec commented on #88
Yeah i get the correct response now.

{
  "artists" : {
    "items" : [ {
      "external_urls" : {
        "spotify" : "https://open.spotify.com/artist/0k17h0D3J5VfsdmQ1iZtE9"
      },...

[2016-05-01 19:57] raymiec commented on #88
it also fixes the issue with the follow button.

[2016-05-01 20:12] jaedb commented on #88
Sweet! Thanks for the help :-)

[2016-05-01 20:12] #88 closed, assigned to nobody

[2016-05-02 14:14] gaiterjones commented on #87
This fixes the context menu issue on i devices :
 app.js 30471

[code]

[2016-05-02 18:41] raymiec commented on #87
@gaiterjones confirmed fix on android/chrome too. nice one.

to tie the whole context menu thing up, we need to disable right click on touch devices and when emulated touch is active. at present when you right click on a touch device part of the context menu will appear with none of its formatting properties which also breaks the context menu check selecting a checkbox.

[2016-05-03 21:15] jaedb commented on #87
Awesome work guys, I've found it quite tricky as some devices seem to work fine with this functionality whilst others experience this phantom context menu issue.

I'd like to maintain the functionality where the context menu is hidden when you click anywhere outside of the context menu (expected UX). It's just a matter of working it out across all devices.

In the meantime, I've changed the _Emula

[2016-05-04 11:25] raymiec commented on #87
Nice one good work, i gave it a shot, works as expected. tested on

normal windows 10 laptop, firefox & chrome,
hybrid laptop windows 8.1, firefox and chrome
Android Chrome.

i prefer the context menu being static at the bottom as well.

Couple of side notes, if you get time will you look into the bug with the android webview, not being able to authenticate spotify, the injected iframe listens for

[2016-05-04 11:52] raymiec commented on #87
another couple of minor issues,  if you have a list on items in the queue, you can select multiple  as expected, navigate away from the page and go back and now it will only let you select one item at a time.

When on mobile or if i resize the browser when i try re order the queue an overlay appears from the side with options to add to library, playlist, queue, this is fine on desktop but not need

[2016-05-06 04:24] jaedb opened #89 "Responsive improvements"
- Search page filters (use dropdown?)
- Find a way to have swipe hide/show of menu as well as sliders

[2016-05-10 07:18] jaedb commented on #87
@raymiec Can you please create a new issue for the `postmessage` error in Android webview?

Regarding the other issues, I've patched the bug where multi-select stopped working on the _Now Playing_ tracklist when navigating away. This was due to an orphaned `$rootScope` listener.

These patches will be included in the next release which will be coming out shortly.

[2016-05-10 07:18] #87 closed, assigned to jaedb

[2016-05-10 07:56] #25 closed, assigned to nobody

[2016-05-10 07:57] jaedb commented on #84
Released in `2.6.5`

[2016-05-10 07:57] #84 closed, assigned to jaedb

[2016-05-10 11:21] choseh opened #91 "doubleclicking a search result adds the track to the beginning of the queue"
doubleclicking a search result adds the track to the beginning of the queue and plays it - expected behavior might be: add as "play next" and leave current queue intact :)

cheers,
alex

[2016-05-10 17:43] jaedb commented on #91
Given the intent of a double-click (to immediately execute the given target) I think the expected behavior would be to have this track play immediately. It is also more in line with the behavior exhibited in every modern OS.

The challenge in #68 was handling the existing playlist. Now, instead of copying the target track's (the one double-clicked) siblings and adding that to the queue, we just co

[2016-05-10 17:43] #91 closed, assigned to nobody

[2016-05-17 04:19] jaedb commented on #50
@LasseSLambertsen I've just pushed up a new version that addresses some of the issues around the local file library. It'd be great to see if this fixes the issues that you were experiencing, are you able to have a look and let me know?

You can get the latest by pulling the `develop` branch.

[2016-05-17 14:31] LasseSLambertsen commented on #50
Seems, to be fixed now :)
Cheers man!

[2016-05-17 20:04] #89 closed, assigned to jaedb

[2016-05-17 20:05] jaedb commented on #50
Sweet! This will be included in the next release.

[2016-05-17 20:05] #50 closed, assigned to jaedb

[2016-05-25 20:52] jaedb commented on #50
@LasseSLambertsen I've just released a rebuilt version of the local library that utilises the current artist/album templates. This will only work for the SQLite extension, the standard JSON library will remain pretty basic. See version `2.7.0`.

[2016-05-25 20:55] LasseSLambertsen commented on #50
@jaedb Oh nice, gonna check it out tomorrow!
Wish I could be of any help coding this, but don't have any experience in python :/

[2016-05-25 20:57] jaedb commented on #50
Hah, no worries. I'm a total python newbie too, my background is in website design and development so this has been a rather large project with a decent learning curve!

[2016-05-26 10:20] LasseSLambertsen commented on #50
Perhaps I should try to clone it, and look into it :)

[2016-05-26 13:27] ChazUK opened #96 "Audio hiss after track ends"
I don't know if this is a Mopidy issue or a spotmop issue but after a playlist has finished the audio path (?) is still left open and there's a constant hiss.

[2016-05-26 20:37] jaedb opened #97 "Scrolling when using drag and drop onto playlists"
- On shallow screens (or when there are lots of playlists), it is difficult to drop tracks onto a playlist. Need to implement browser-styled auto-scrolling when near the bottom of the list.
- Viewport-depth detection to handle height of dropzones

[2016-05-26 20:51] jaedb commented on #96
It does sound like a Mopidy core issue as Spotmop has nothing to do with audio output. To confirm this, you could try using another interface (I use `mpc` command line for testing).

[2016-05-26 20:51] #96 closed, assigned to nobody

[2016-06-01 14:02] LasseSLambertsen opened #99 "Feature request: Create playlist, from selected track"
Hey James,

It would be nice, if there were a option, to play all tracks following a single tracks, ie. I'm listening to a playlist, and then goes to play a track from a different playlist or My Tracks, then just play all the tracks in that playlist :)

[2016-06-02 20:25] jaedb commented on #99
Hey man,

I'm not 100% sure what you're after. Is this not functionality covered by the "Play next" context menu (and drag-and-drop zone)?

[2016-06-02 20:39] LasseSLambertsen commented on #99
Having a trouble explaining this, second language and such 😆
The functionality I'm requesting, is when I double click on a track. Then it and the other tracks on its playlist, album etc. will replace the current play queue.
I'm pretty sure the functionality has been there before, but can't get it to work now :)

I'm actually pretty certain that Spotify themselves does it like this :)

[2016-06-02 21:02] jaedb commented on #99
Ah, I understand now! Yes, this is how it used to work however it seemed a little counter-intuitive. The main reason was that in a shared environment (ie an office or busy home) people tended to double-click tracks to play them without realising that it wiped the queue that someone else had setup.

The best example was imagine a party soundtrack that you queue up. Then people want to play certain

[2016-06-02 21:03] jaedb commented on #99
See #91 and #68 for the initial discussions.

[2016-06-02 21:11] LasseSLambertsen commented on #99
Aah i see. That does actually make pretty good sense.
Thanks for the heads up

[2016-06-06 20:51] jaedb opened #100 "Skip track hides new current track"
In some cases, enqueuing tracks and then skipping results in the next-in-line track to be hidden from the tracklist. This is despite the fact that it plays normally.

Hard to replicate, but seems to be more frequent on Android devices.

[2016-06-07 08:58] jaedb commented on #100
Appears to be that Mopidy's current tracklist omits the currently playing track?

[2016-06-07 20:09] #100 closed, assigned to nobody

[2016-06-19 19:53] #99 closed, assigned to nobody

[2016-06-19 20:19] jaedb commented on #74
After re-reading the initial discussion, I'd like to clarify that Spotmop works perfectly fine without authenticating Spotify via _Authorization Code_ method. It's just you cannot access some newer Spotify endpoints (like _My Tracks_, _My Albums_, etc).

For more information there is a discussion around this on the `Mopidy-Spotify` extension: https://github.com/mopidy/mopidy-spotify/issues/16

[2016-06-19 20:20] #61 closed, assigned to nobody

[2016-06-19 20:26] allo- commented on #74
I guess this are two issues:
- What new features can mopidy provide, so the interface does not need to know the token anymore
- How to store any data server side (i.e. settings, even trivial stuff like abackground color which should be synced to all clients).

[2016-06-19 20:52] jaedb opened #102 "[Feature request] Sync settings"
Provide the ability to sync settings and authentication tokens between clients.

[2016-06-19 20:54] jaedb commented on #74
That's precisely the issue - Mopidy currently doesn't support Spotify's new endpoints. This is why Spotmop supports the option to use Mopidy's backend Spotify authentication, or the more capable _Authorization Code_ flow.

**Setup one** (no user-authenticated Spotify account):
- Unselect "Connect with Spotify" on initial setup
- Don't have a Spotify account, or don't want to use _Authorization Cod

[2016-06-19 20:54] #74 closed, assigned to nobody

[2016-06-20 06:43] allo- commented on #74
Seems like setup 1 would still profit from server-side storage, as a setup-assistant should not show more than once, even when you use a other browser or device or delete your cookies.
An easier solution would be skip the setup, use reasonable defaults and just add a button on the main page if stuff is still unconfigured.

[2016-06-23 20:53] jaedb commented on #53
Closing issue as no interest has been expressed in making this happen. Currently out of scope on my work programme. If someone is interested in contributing to this, please let me know.

[2016-06-23 20:53] #53 closed, assigned to nobody

[2016-06-29 01:21] adamtobey opened #103 "Not all content loading from Spotify"
When loading albums from Spotify, only the first 40 alphabetically appear, no matter what view I'm using. Tiled and list view will load dummy entries, and the detailed list view just stops loading. Only a certain number of my songs appear when looking in that tab too. The behavior is consistent on both Chromium and Firefox. Everything else works fine. (BTW love the app otherwise!)

Spotmop version

[2016-06-29 04:03] hcoohb opened #104 "[Feature request] Start a song radio"
Hi,

It would be awesome if we could start a song radio from spotmop, just like we can do from the spotify client.

Thanks and regards,
Fabien

[2016-07-03 17:47] #103 closed, assigned to nobody

[2016-07-03 19:50] adamtobey commented on #103
Confirmed fixed. Thank you so much for the quick and conclusive fix!

[2016-07-03 20:51] jaedb commented on #103
@adamtobey No worries! It's always good having extra eyes as this project gets bigger. More complex = more stuff to remember to check/test and patch :-)

[2016-07-04 20:31] jaedb commented on #104
@hcoohb I've explored this idea a little already, and got roadblocked by `libspotify`'s incapability to load `spotify:station:artist:id` type URIs. So to create a station I would need to use the `/recommendation` endpoint, however this wouldn't produce an infinite playlist. Given this is ultimately why you'd use a _station_/_radio_, that was as far as I got.

I started exploring creating a Mopidy

[2016-07-06 04:40] jaedb opened #107 "Click vs doubleclick for non-track list items"
- Create consistency in the UX for non-track list items (ie My Albums, list view)
- Click to select, double-click to navigate
- Right-click context menu?

[2016-07-07 10:55] hcoohb commented on #104
Thanks for the answer !

Unfortunately, I don't know python that much either...
And I assume as well that is why a public playlists created by user do not show in the search results (which was another point where I noticed a difference between spotmop and spoytify client)

[2016-07-07 12:49] twcapps opened #108 "Error when a track is queued on an active playlist"
when I try to queue an individual track on an active playlist (drag to left column "add to queue") I receive the below error in the console (chrome browser)

Server returned error:

[code]

[2016-07-07 20:40] jaedb commented on #108
@twcapps thanks for the error log, that certainly helps. Can you please provide some extra info about your environment? IE: modify version, spotmop version, Linux version, etc?

[2016-07-09 05:23] wilderkaiser opened #109 "[Feature request] Auto Update"
Hi - first let say say thank you for this great work --- would it be possible to add a auto update function/button?

Kind regards Joerg

[2016-07-10 10:45] matmar-91 opened #110 "Set default host and port in config file"
It would be great if we can set default host and port for mopidy server somewhere in config file. For now I need to setup this for every new browser / device I want to connect.

[2016-07-12 03:35] jaedb commented on #109
Hi @wilderkaiser auto-update is a bit of a tricky one, but possible. Currently it's recommended to upgrade via command-line (`pip install --upgrade Mopidy-Spotmop`) or by using the (beta) upgrade functionality within the _Settings_ tab.

Have you tried using this _Settings_ tab upgrade functionality?

[2016-07-13 20:02] jaedb commented on #110
@matmar-91 Can you please provide me with some examples of your configuration?

By default the web interface will use the same ip/domain and port 6680 for it's initial Mopidy connection. For example if your mopidy server was `music.desktop` then the web interface would connect to `music.desktop:6680`.

The only time I think this wouldn't work out of the box is if your webserver was hosted on a dif

[2016-07-13 20:18] matmar-91 commented on #110
Ok, you're right. For some reason i can't get it work first time but now i reset all settings and leave host and port blank and it worked. Probably before there was some other problem on my end. Thank you for your time and great work!

[2016-07-13 20:30] jaedb commented on #110
Sweet, glad you got it working :-)

The _Reset all settings_ button has saved my bacon a few times too!

[2016-07-13 20:30] #110 closed, assigned to nobody

[2016-07-14 07:17] ghost opened #111 "[Feature request] Add option to sort albums/playlists/artists"
it's more convenient to have albums sorted by date added since the latest albums i've added are the ones i'm more into at that time.

might be a good option for tracks/artists/playlists as well.

[2016-07-20 08:21] Firesphere commented on #49
I still get a 404 not found on any port I try, sadly. 6680 is not responding, any pusherport gives me a 404

[2016-07-21 19:34] Zbuben opened #112 "Some albums are not displayed in search results"
Hi,

I've got an issue searching some artists. Whereas songs are shown in the search results, some albums show until you specifically search them or browse them directly from tracks.

To reproduce, search for "Mathieu Boogaerts", in the overview page the "super 2" album is missing but in the main search result page you can see some of its song (ondule for example).

When I use another client (e.g.

[2016-07-21 20:04] jaedb commented on #111
@bigmittens I think this is a great idea, especially as Spotify's default ordering is a bit... well crap.

I've lodged a request with Spotify to allow their web API to accept sort parameters, however I can't imagine this will happen quickly. The reason it needs to happen at Spotify's end is that the lazy-loading would create an unexpected user experience.

For example, sorted A-Z of 200 items. You

[2016-07-21 20:05] jaedb commented on #108
@twcapps (or anyone else) have you continued to experience this issue? I'm having trouble replicating it.

[2016-07-21 22:04] ghost commented on #111
great answer, thanks.

[2016-07-22 05:12] jaedb commented on #112
Issue identified as being due to batching script to fetch additional album data. Basically the results were < 20 so the batch script wigged out. Sorted now and will be bundled in the next release.

Feel free to test the pre-release on the `develop` branch.

[2016-07-22 05:14] jaedb commented on #111
PS. For reference here's the issue on the Spotify Issue Tracker: https://github.com/spotify/web-api/issues/75

[2016-07-22 05:33] #107 closed, assigned to nobody

[2016-07-22 05:33] #112 closed, assigned to nobody

[2016-07-22 06:18] Zbuben commented on #112
Wow, that's efficient ;)
Thanks !

edit: tested here, it works like a charm.
edit2: tested a bit more, in the search results it works, but not in the overview of the artist, I get the same truncated album list than before.

[2016-07-22 11:56] bartsidee commented on #108
yes it is still an issue
Mopidy 2.0.0
Port 80
Raspbian GNU/Linux 8 (jessie)

[2016-07-22 22:29] jaedb commented on #108
@bartsidee Are you able to try this and select the track first, ie click once (it'll highlight yellow) and then try dragging and dropping?

[2016-07-22 23:33] jaedb commented on #108
I've just pushed to the `develop` branch that should fix this. It'd be great if you could confirm this is working before I release to live :-)

[2016-07-23 16:17] Zbuben commented on #112
Hi,

you perfectly fixed the search tool, but the artist view is still missing some albums. Should I open another issue or this one will make the trick ?

Regards,

Christophe.

[2016-07-23 17:02] Zbuben opened #114 "Displayed spotify album total time is 40% shorter than it should"
Hello,

the time calculated for an spotify album is too short, I took a look in the app.js file and saw that totalTime was divided by 100000 instead of 60000... I don't have any local collection so I don't know if 60000 is also good for local albums ...

Regards,

Christophe.

ps: Here's an example, this album is near 16 minutes and is displayed 10.

![capture du 2016-07-23 19-00-10](https://cloud

[2016-07-23 17:22] Zbuben commented on #114
Just tested with local tracks, seem affected the same way.

[2016-07-23 21:41] jaedb commented on #114
@Zbuben Eagle eyes over here! Nice spotting dude, must have been a total lapse of programming concentration :-)

[2016-07-24 20:09] Zbuben commented on #114
I got lucky, I was skim-reading some spotmop source code and asked myself where this 100000 came from ... I didn't pay attention to this earlier. Pretty fun indeed. ;)

Have a good day (and thanks for your good work on this project) :)

[2016-07-24 22:36] Zbuben commented on #112
Gasp, I figured out why this artist had missing albums in his overview, it's a problem with the market zone declared in the spotify database and is totally upstream, nothing to blame on the spotmop side.

The albums displayed are indeed those given by spotify api when the market is used in the URL, no one is missing. I tried to remove this information and I got all albums I was expecting.

To perf

[2016-07-24 23:40] jaedb commented on #112
Hah, I had a look at it yesterday and couldn't make sense of it, but this answers it completely!

You can configure the country suffix that Spotify uses from the _Settings_ page if that helps?

[2016-07-25 08:01] bartsidee commented on #108
Just pulled from the latest develop, if I first click the track and the drag it now indeeds works. Still throws an error when a single song is directly dragged (without clicking first).

As a recommendation it would be nice to not necessary use the click+drag, but just the drag as it is a more user friendly.

[2016-07-26 03:18] jaedb commented on #111
@bigmittens I've recognised the need for this functionality to a point where I've decided to build it anyway. The obvious downside is as mentioned earlier, but with that in mind, sorting is fully operational on the `develop` branch and will be included in the next release.

[2016-07-26 21:13] #114 closed, assigned to nobody

[2016-07-26 21:13] jaedb commented on #111
Amended to use the new dropdown functionality

[2016-07-26 21:13] #111 closed, assigned to nobody

[2016-07-26 21:14] jaedb commented on #108
Partially resolved in latest release, 2.8.0 (ef01ee4)

[2016-07-31 15:11] patatman opened #117 "[Feature request] Tunein"
Hi,

I really like your web-client, and i mainly use spotify.
But occasionally i'd also like to listen to some TuneIn radio, is it possible to implement Tunein?

Thanks!

[2016-07-31 20:31] jaedb commented on #117
In _theory_ you should be able to install any extra Mopidy extensions and they should play within Spotmop. You can search all Mopidy extensions by using the _Other_ tab in the search results.

Here is the extension it looks like you're after: https://github.com/kingosticks/mopidy-tunein but it doesn't look particularly active so it may be a little outdated. I'll have test run with it myself too fo

[2016-07-31 21:24] patatman commented on #117
Will give it a try,  I already have the extention installed.
I'm also curious about your tests. It's a shame I can't write python yet :-(
I Gave a quick look at the code,  and see if I can hack some sort of menu in there but I couldn't figure it out yet haha.

[2016-08-06 00:10] jaedb commented on #102
I've explored a few options, and have built a _Push config_ function that facilitates sharing of configuration between clients. You can demo this on the `feature/pusher` branch at 717129a. This will be included in the next major release.

[2016-08-07 12:48] MTRNord opened #118 "404 Error"
when I try to access "/spotmop" it givex me an 404 Error. The default page runs fine.

(I run mopidy as an service)

[2016-08-07 13:50] MTRNord commented on #118
Fixed: I used the apt version of mopidy that was the problem

[2016-08-07 13:50] #118 closed, assigned to nobody

[2016-08-07 13:51] MTRNord opened #119 "Local music"
Will Local MUsic supported in the future?

[2016-08-07 17:42] jaedb commented on #119
@MTRNord to what capacity? Currently you can explore your local library from the _Local_ menu item underneath _My Music_. Is this not what you mean?

[2016-08-07 18:12] MTRNord commented on #119
I mean that but I don't have an "Local" menu Item only
- Playlists
- Songs
- Albums
- Artists

[2016-08-07 19:36] jaedb commented on #119
What version of Mopidy and Spotmop are you currently running?

[2016-08-07 19:44] MTRNord commented on #119
Mopidy Version: 2.0.0 from pip
Spotmop: 2.8.0 but I found out that it is installed with pip3 and not pip. I think that is the problem

[2016-08-07 19:45] jaedb commented on #119
Hmm that's unusual, _Local_ has been supported for some time now, so it must be a very old version. Can you please navigate to the settings tab and take a quick screenshot of the whole window?

[2016-08-07 19:47] MTRNord commented on #119
After installing it with pip instead pip3 it seems to work. hm maybe my pip3 is/was broken

[2016-08-07 19:47] #119 closed, assigned to nobody

[2016-08-07 21:00] jaedb commented on #119
Glad you got it sorted :-)

[2016-08-10 06:20] bargru commented on #117
The source code of the search controller shows that the search only takes place in "local" and "soundcloud". Change `MopidyService.search (query, false, ['soundcloud:', 'local'])` to `MopidyService.search (query)` and it works with any extension (also TuneIn).

If many extensions are installed, the search results are very confusing. It would be useful to filter for individual extensions.

[2016-08-10 07:18] jaedb commented on #117
Ah, you're right there. I was hoping to be able to show all results across all `BackendExtension`s however there is no facility to list those that are installed. This would be required to facilitate filtering by source/`BackendExtension`.

That being said, I'll remove the filter on `BackendExtension`. Please note that this will mean you'll get search results for Spotify here as well as on the othe

[2016-08-10 08:11] bargru commented on #117
The Android App Remotedy ( [http://remotedy.com/](url) ; [https://play.google.com/store/apps/details?id=se.anil.remotedy&hl=de](url) ) is able to filter the search results.

I think that the "extended" search is better than the "local and soundcloud" search. But the search results are useless if it is not possible to filter and if there are many results.

I will ask the Remotedy developer how he h

[2016-08-10 08:55] bargru opened #120 "[Feature request] Support for local playlists"
The playlist view displays Spotify and local playlists. When you open a local playlist, the contained tracks are not displayed. In other apps Mopidy the tracks are displayed.

[2016-08-11 05:12] jaedb commented on #120
Currently local playlists aren't supported. What format is your playlist in, `.m3u`?

[2016-08-11 12:27] bargru commented on #120
Yes I'm using m3u playlists with the mopidy m3u extension. It would also be helpful if local playlists could be processed, created and deleted.

I do not know how far you want to develop Spotmop for not Spotifiy extensions. Unfortunately, I have little experience with JavaScrip and no with AngularJS. I am currently trying that images of local music can be displayed.

[2016-08-12 13:36] bargru commented on #104
Maybe this can give something like a radio: [https://developer.spotify.com/web-api/get-recommendations/](https://developer.spotify.com/web-api/get-recommendations/)

[2016-08-13 05:32] jaedb commented on #120
Personally I use Spotify for 99% of my music. However seeing as the general idea behind Spotmop is to provide a fully-functional web-based interface for Mopidy I think supporting as many mainstream extensions as possible is ideal.

I'm also looking to improve the search functionality which will also help bridge this gap.

[2016-08-19 18:48] ghost opened #125 "[Feature request] queueing + shuffle"
Disc: long post, just skip to suggestions if you aren't up for some squawking.

Hi,

First of all, this is the best mopidy spotify interface around. I have two suggestions which "feels" like depending on one another.

**Whining no.1**: One of the biggest features I miss from the official spotify client is to have the rest of the playlist get queued when I double click on a track, so that it'd keep

[2016-08-19 22:50] jaedb commented on #117
This will be included in the next release. Essentially Spotmop will now use the Mopidy core for performing searches, which will allow for filtering by source. The list of sources will default to _Local_ and _Spotify_ but can be customised in _Settings_.

[2016-08-21 22:02] jaedb opened #126 "Search playlists via Spotify HTTP"
Now search is configured to use the Mopidy backend, we need to implement searchable playlists via another method. Will need use Spotify HTTP API to amend search results for playlists.

[2016-08-21 22:03] jaedb opened #127 "Playlists list incomplete"
Context menu and dropzone playlists lists are incomplete. Will use `PlayerService` to contain the full list.

[2016-08-22 00:42] jaedb opened #128 "Unify page banner across artists, albums and playlists"

[2016-08-23 23:59] svallory opened #129 "[Feature request] Control Icecast audio streaming service"
Hey, guys! Thanks for the grate work!

What you guys think about integrating a stream player? I configured my mopidy to stream music using icecast. It would be really nice to be able to control the stream on spotmop.

What I'm thinking is that we could add a simple **hidden** stream player that would be controlled with the same controls if "listen here" is enabled. The only difference being that t

[2016-08-24 11:57] s-cotton opened #130 "Mobile browser on same network can not connect to Spotify"
I have the interface up and running on a rPi2, and I am passing through a virtualhost with apache proxypass from my home web server to the Mopidy web port.  I can access the interface without issue, and was able to connect spotify from a browser on a desktop on the LAN.  Works as expected there using the virtualhost address, mp.domainname.com (Ports 6680, 6681 and 6600 have been mapped on the rout

[2016-08-25 04:43] jaedb opened #131 "Doubleclick adds tracks to top of tracklist"
When double-clicking, the selected tracks are played immediately. However this assumes consume mode is enabled, and adds these tracks at position 0 of the `TlTracklist`. This should be the current cursor position.

[2016-08-25 04:47] jaedb commented on #125
I'm glad you like it!

This is a topic that has been discussed before (#68 and #91) and it was clear that double-clicking shouldn't clear the existing tracklist. Have a look at the discussion for more information.

You do raise a good point that the double-clicked tracks shouldn't go to the top, just to where the play 'cursor' (track currently playing) is. See new issue #131.

Suggestion number tw

[2016-08-25 04:47] #125 closed, assigned to nobody

[2016-08-25 04:53] jaedb commented on #130
Hmm, that would suggest a lack of browser support for HTML5 `window.postMessage` functionality (see [specs](https://developer.mozilla.org/en-US/docs/Web/API/Window/postMessage)). What browser and version are you using on your Android phone? Do you have javascript disabled on your phone or browser?

Please note that in order to achieve this outside of the network your RaspberryPi is on you will typ

[2016-08-25 10:21] s-cotton commented on #130
Chrome 52.0.2743.98
Android 6.0.1 A0001 Build/MHC19Q
Fixed IP is resolved with Dynamic DNS and the Virtualhost.  Ive been able to use it fine if there is another user (the desktop user) who has signed into spotify and I uncheck "Connect with Spotify" in the mobile device, but only if that desktop user has already started music playing, otherwise I get the "Connect with Spotify" error message in th

[2016-08-27 02:45] jaedb commented on #127
Resolved by use of the new `PlaylistManagerService`

[2016-08-27 02:45] #127 closed, assigned to nobody

[2016-08-27 02:52] jaedb commented on #126
Currently on `develop` and will be part of the next major release.

[2016-08-27 02:52] #126 closed, assigned to nobody

[2016-08-29 04:35] jaedb commented on #97
Resolved in [v2.9](https://github.com/jaedb/spotmop/releases/tag/2.9)

[2016-08-29 04:35] #97 closed, assigned to jaedb

[2016-08-29 04:35] jaedb commented on #102
Resolved in [v2.9](https://github.com/jaedb/spotmop/releases/tag/2.9)

[2016-08-29 04:35] #102 closed, assigned to nobody

[2016-08-29 04:35] jaedb commented on #108
Resolved in [v2.9](https://github.com/jaedb/spotmop/releases/tag/2.9)

[2016-08-29 04:35] #108 closed, assigned to nobody

[2016-08-29 04:35] jaedb commented on #120
Resolved in [v2.9](https://github.com/jaedb/spotmop/releases/tag/2.9)

[2016-08-29 04:35] #120 closed, assigned to nobody

[2016-08-29 04:35] jaedb commented on #117
Resolved in [v2.9](https://github.com/jaedb/spotmop/releases/tag/2.9)

[2016-08-29 04:35] #117 closed, assigned to nobody

[2016-08-29 20:16] #131 closed, assigned to nobody

[2016-08-29 20:35] #128 closed, assigned to nobody

[2016-08-30 10:01] akinomeroglu opened #133 "Loading failed"
Hello,

I install spotmop to my raspberry pi 3 via pip. Loading of spotmop fails when I restart the service.

Hope this information enough for you and thanks for your help.

You can find log file below

`2016-08-30 12:53:19,463 ERROR [18048:HttpServer] mopidy.http.actor: Loading spotmop failed.
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/mopidy/http/actor.py", line

[2016-08-31 04:53] jaedb commented on #133
Have you got `Mopidy-Local-Images` installed?

[2016-08-31 04:54] jaedb commented on #130
Quick question - what version of Spotmop are you running?

[2016-08-31 10:28] hcoohb commented on #133
Hi,

I upgraded this morning using the pip command, restarted my mopidy server
and got the same error as described.
I did not have Mopidy-Local-Images installed. I installed it and everything
is all good now.

Can we add the Mopidy-Local-Images as a dependency in the pip package so
that everything install/update smoothly?

Thanks for that new version!

Fabien

On 31 August 2016 at 14:53, James Bar

[2016-08-31 20:06] jaedb commented on #133
@hcoohb Excellent - just as I suspected :-) Thanks for confirming this; I'll update the dependencies in the next release.

[2016-08-31 20:28] #133 closed, assigned to nobody

[2016-08-31 20:44] jaedb opened #134 "[Feature request] Option to run on WSS and HTTPS"

[2016-08-31 20:44] jaedb commented on #134
Further to the discussion on #132:

[2016-08-31 20:50] jaedb commented on #129
Glad you're enjoying using Spotmop.

My initial response is that this is well beyond scope of the project, however I think all ideas should be given a fair opportunity :-)

Can you please provide me with the steps required to replicate your environment? Is the main objective of this to facilitate other devices to play the Mopidy server's audio stream (ie multi-room setup)?

[2016-08-31 20:54] jaedb opened #135 "Initial loader"
On initial load, there are a series of requests and instructions that need to run before the interface is ready for use. Perhaps it would be nice to introduce a _Loading_ screen (or less intrusive dialog) that documents what is currently loading.

The key loading elements would be:
- Connecting to Mopidy
- Connecting to Pusher
- Checking authentication with Spotify
- Loading playlists
- Checking f

[2016-09-01 07:57] mbmelgo opened #136 "Error on mopidy start"
This generates an error after installing spotmop and starting mopidy

ERROR    Loading spotmop failed.
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/mopidy/http/actor.py", line 135, in _get_app_request_handlers
    request_handlers = app['factory'](self.config, self.core)
  File "/usr/local/lib/python2.7/dist-packages/mopidy_spotmop/__init__.py", line 86, in spotmop_c

[2016-09-01 11:44] choseh commented on #136
Same here,
looks like there is no config section "local-images" and thus no image_dir key. I set the path in **init**.py to something that exists, since I don't need any local album art or whatever. Maybe creating a [local-images] section with an image_dir key in mopidy.config could work, but I'll just let @jaedb fix that :)

[2016-09-01 17:46] #136 closed, assigned to nobody

[2016-09-01 21:43] jaedb commented on #134
@johnyb can you please test `feature/secure` at b13c38e to see if this is working at your end? This commit includes all the buildout files required but you may need to install Mopidy in develop mode for this to update your local (`python setup.py develop`).

[2016-09-04 22:45] jaedb opened #138 "[Feature request] Support GMusic"

[2016-09-04 22:47] jaedb commented on #76
@hlgirard The latest release of Spotmop revisits the play progress detection (which addresses some issues with inaccurate position data). I'm hoping that this will have some impact on the issue you're experiencing. Can you please update and confirm?

[2016-09-05 20:24] jaedb commented on #72
Closing as this is 100% dependent on Spotify, and they haven't addressed a 2-year request to implement this functionality. Will re-open this issue should Spotify ever decide to facilitate this.

[2016-09-05 20:24] #72 closed, assigned to nobody

[2016-09-07 08:06] choseh opened #139 "Can't find some Albums"
Hello,

we have this quite weird issue that we can't find some albums. I can find them just fine with the regular client and we have set the country code to DE (locale de_DE). Could it be that this is currently somehow broken?

Kind regards,
Alex

[2016-09-08 00:56] jaedb commented on #139
@choseh are you able to send me some example albums that _should_ show but don't?

[2016-09-08 13:02] frankMCH opened #140 "Can't set Country code and Locale"
Currently setting Country code and Locale seems to have no effect. I'm running Mopidy 2.0.1, Spotmop 2.9.1.

[2016-09-09 06:37] choseh commented on #139
Sure!
spotmop search results for "Deichkind": https://uploade.es/#3nz7XsQk1XLfrZSvhzU6LQ
spotify web search results: https://uploade.es/#MZI4404pD5Cgw8Gf7suDhA

looks like https://github.com/jaedb/spotmop/issues/140 might be related

best regards,
alex

[2016-09-10 02:25] ghost opened #141 "'Date Added' does not sort by date added"
Sorting by date added seems to have no difference between sorting by artist (other than the small detail that artist will include the alphabetical sorting of artists starting with "The", while i'm guessing the default spotify sort excludes this).

I'm seeing this under the albums category. Even after adding/removing albums the sort remains alphabetical by artist.

[2016-09-10 03:46] jaedb commented on #140
See #139

[2016-09-10 03:46] #140 closed, assigned to nobody

[2016-09-10 03:55] jaedb commented on #139
Looked like the recent upgrades to the storage engine hadn't accounted for the Spotify `country` and `locale` parameters. Tested and operating as per the Spotify Web application now.

[2016-09-10 03:58] #139 closed, assigned to nobody

[2016-09-10 03:58] #141 closed, assigned to nobody

[2016-09-11 22:45] jaedb commented on #104
@bargru That's where I'm headed, however the trick is to build a Mopidy frontend that can handle the radio behavior. This is important to make an 'endless' radio station as it will fetch the next recommended tracks and update the client as needed. We can't efficiently do this on the client-side.

The beauty of this approach is it will setup the structure for other extension-specific functionality,

[2016-09-15 20:45] mczerski opened #143 "YouTube search results"
youtube search results are not showed correctly. instead of titles there is only word "Youtube" and track lenght.

[2016-09-20 23:56] mczerski opened #144 "Repeated search results"
When performing search the results are doubled. develop branch.

[2016-09-20 23:56] mczerski opened #145 "Repeated search results"
When performing search the results are doubled. develop branch.

[2016-09-20 23:57] #145 closed, assigned to nobody

[2016-09-22 20:23] #143 closed, assigned to nobody

[2016-09-22 20:26] jaedb commented on #144
Resolved in new release, 2.10.0

[2016-09-22 20:26] #144 closed, assigned to nobody

[2016-09-25 15:34] mczerski opened #147 "[Bug] Spotify user.id broken with recent localStorage change"
when I click on the Playlists except my playlists that i have on my spotify account there are some other weird named playlists. They are only showed in spotmop, i can't see them in moped or in spotify web player so I assume this may be a potmop bug. They all are from user "null". and if i filter playlists i own (top right filter) they are not filtered.

[2016-09-25 15:44] mczerski opened #148 "[Feature request] Support for Mopidy-Dirble"
dirble plugin search results have empty descriptions. the results are correct and can be played, chust they does not have any description nor logo.

[2016-09-25 22:25] jaedb commented on #147
What version of Spotmop are you running? Have you authorized Spotify from Spotmop _Settings_?

[2016-09-26 06:46] mczerski commented on #147
Version 2.10.0. the problem occurs when i am authorized. If i'm not, there is No problem.

[2016-09-26 08:23] jaedb commented on #147
That sounds like it might be to do with the change in structure for storing of Spotify authentication details. Are you able to try _Settings > Reset all settings_?

[2016-09-26 08:38] mczerski commented on #147
hmm, this behaviour is on the fresh install of mopidy (the whole system is
fresh - on raspberry pi 3), but I will try when i get home.

2016-09-26 10:23 GMT+02:00 James Barnsley notifications@github.com:

##

mgr inż. Marek Czerski
+48 696 842 686

[2016-09-26 16:06] mczerski commented on #147
after resetting settings still the same. also removed /var/cache/mopidy/spotify/ and /var/lib/mopidy/spotify.

[2016-09-26 20:52] jaedb commented on #147
I've managed to replicate the issue and have isolated it to the `SettingsService.getSetting('spotifyuser.id')` calls that need to changed to `SettingsService.getSetting('spotify.user.id')`. This is a consequence of the latest release.

A new release, addressing this issue will be deployed shortly.

[2016-09-28 06:51] #147 closed, assigned to nobody

[2016-10-06 03:00] hcientist opened #150 "how to run locally?"
Say i have mopidy installed and running, how would I run spotmop from source? (so i can test/add features, etc.)

[2016-10-06 03:37] jaedb commented on #150
You can install from source like you would any other Python package. For example:
1. Download latest release and extract (or pull from your git fork)
2. Install `python setup.py install` or `python setup.py develop`
3. Restart mopidy

[2016-10-15 09:44] mczerski opened #151 "start radio include song it is started from"
if I start radio from a specific song this song is not included in the resulting playlist. I would like that radio starts with this specific song, this is how spotify web player works.

[2016-10-15 09:49] mczerski opened #152 "can't start radio from Albums folder"
if i go into Album folder (MY MUSIC) and start radio from any song it fails (nothing is played) and I can see in the log:
ERROR [3850:SpotmopFrontend-13] mopidy_spotmop.frontend: SpotmopFrontend: Failed to fetch recommendations from Spotify

the radio can be started from this songs from other folders (Track or from search) so this is not the issue with particular song.

[2016-10-16 01:38] hcoohb opened #153 "Volume bar longer for fine-tuning?"
Hi,
On big screens, it appears that the volume bar is actually quite small which makes it hard to fine-tune.
(see screenshot).
Any chance we could increase the volume bar size so that it takes all the available space after the Previous/Pause/Next set of buttons?
Cheers.
Fabien

![spotmop1](https://cloud.githubusercontent.com/assets/12975783/19414561/e90c1a40-9393-11e6-9f06-8f2b5d5adbfa.png)

[2016-10-16 02:26] #150 closed, assigned to nobody

[2016-10-16 03:32] ghost commented on #76
Having this issue as well. If I'm listening to an album and press the next button in the bottom left corner, nothing happens. Same as the next button on the now playing, but `mpc next` works fine.

[2016-10-16 07:55] fss commented on #76
same for me, version 2.10.1, also I can't use "previous" button anymore.

[2016-10-16 19:08] jaedb commented on #76
Hmm, this is such a weird issue as I have been unable to replicate it across a number of devices. Is there any difference if you toggle consume mode?

@fss It may sound like a silly question, but is there a previous track to play? Ie are you at the top of the tracklist?

[2016-10-16 20:24] mczerski opened #154 "EXTINF in m3u playlist"
when I create playlist like this:
# EXTINF:1,MultiRoom

rtsp://osmc.local:5004/test

and then open the playlist in spotmop, the name of the track is the uri not the name from the EXTINF directive. In moped ui this playlist is displayed correctly.

[2016-10-17 00:57] ghost commented on #76
@jaedb the previous button goes to the previous track fine works for me, and when in consume mode it simply goes to the beginning of the track.

[2016-10-17 05:42] fss commented on #76
@jaedb yes, of course there is next and the previous track available :) works OK e.g. with Mopify, for me it's only broken with Stopmop in the latest version

[2016-10-17 20:38] jaedb commented on #153
Sure. I also find the granularity of the shortcut key (ctrl + up arrow / ctrl + down arrow) intervals a bit big.

I'll look to sort this out in the next major release (3.0) that is in the pipelines. This release is a ground-up rebuild using Redux and React so it will be a much nicer platform to make these refinements.

[2016-10-17 20:41] jaedb commented on #154
I have a confession: I'm unfamiliar with `EXTINF`. Given that Mopidy core plays this fine, I'm sure it can be achieved. It will depend on what information about the stream Mopidy makes available.

[2016-10-18 17:57] Mengesh opened #155 "Swiping albums in Discover section vs Side menu"
When browsing albums in Discover section on my mobile device (Android OS) side menu on the left side tends to appear and disappear because of swipe right and left actions. It happens no matter how far my finger is from the left edge.

[2016-10-19 15:28] Informatic commented on #47
Is there any particular reason for tracking here, especially without any way of disabling that and (as far as I looked around) no precise disclaimer?

[2016-10-19 22:14] jaedb commented on #47
@informatic these stats enable me to diagnose popular and unpopular features as well as potential issues before they inhibit usability. This means I can spend my development time more effectively.

I agree that this needs to be properly disclosed in a clear terms of use speel.

[2016-10-21 21:51] ghost commented on #76
seems like "Add to library" no longer works for albums as well.

[2016-10-23 18:48] vrs01 opened #156 "Track length longer than 60 minutes cut off"
I added a youtube track that is longer than 60 minutes. The queue only shows the minutes after a full hour.

[2016-10-24 11:55] mczerski commented on #154
ok, I thought that parsing m3u playlist is done by mopidy core. it would suffice to just show the url but this is also sometimes fail. sometimes the url is showed and sometimes there is nothing showed.

[2016-11-01 20:20] wuservices opened #157 "Save now playing queue between restarts"
I just started using spotmop and it's awesome! It seems like the now playing queue isn't saved if you kill the server. Is this just a missing feature? Or am I just doing something wrong.

I installed Mopidy-Local-Sqlite just in case that was used for this, but it doesn't save.

Thanks!

[2016-11-02 20:31] jaedb commented on #157
I'm glad you're enjoying it!

This is not a function that is currently implemented and is something that I believe belongs on the Mopidy server. You can imagine the chaos if you started the server when multiple web clients were open and all tried to re-import the previous `TlTracklist`.

[2016-11-02 20:44] wuservices commented on #157
Thanks for the insight. That makes sense. Now that I get the idea, I figured out where to look.

This was discussed in https://github.com/mopidy/mopidy/issues/310, which referenced `mopidy-qsaver`. I installed https://github.com/HeadspringLabs/mopidy-qsaver and it just works!

[2016-11-02 20:44] #157 closed, assigned to nobody

[2016-11-16 07:46] fpqc opened #158 "Spotmop installed with python-pip does not work on mopidy on Arch"
Not sure why, but when I reinstalled mopidy on Arch linux (had previously been on an Ubuntu VM), spotmop was no longer showing up on the mopidy http server.  This happened both when installing with the Arch AUR package and also the python-pip package.  Mopify currently works, but it is very much inferior to spotmop, so I was wondering if you could take a look into this.  Thanks.

[2016-11-16 21:04] jaedb commented on #158
I haven't actually submitted Spotmop to Arch AUR, this appears to have been by someone else! :open_mouth: It looks like @MarcinWieczorek submitted this package.

I do manage the submission to the PyPi repository though, and this appears to be working as usual. You're using the `pip install Mopidy-Spotmop` command?

[2016-11-16 21:35] MarcinWieczorek commented on #158
Well if this is not my fault then we need to resolve it here in the upstream, as the ArchLinux community always guides us to.

[2016-11-16 21:39] jaedb commented on #158
@MarcinWieczorek totally agree. It looks like it's a distribution issue rather than a code issue so I'm hoping it's just that the PyPi/Arch AUR servers being down. In any case, a rebuild of Spotmop is due to launch any day now :-)

[2016-11-16 21:41] MarcinWieczorek commented on #158
This has nothing to do with AUR servers. The package is being built at user's machine. Arch User Repository maintainers only provide scripts to automatize that process.

[2016-11-16 21:52] fpqc commented on #158
It's working now, there's a missing dependency somewhere in the install scripts after I read my logs.  Something like "pylast" (I don't remember, I did it earlier today and forgot) or something like that.  I installed it and forgot it.

The missing dependency is also in the pip installation, I think.

[2016-11-16 21:55] MarcinWieczorek commented on #158
It was my fault then. `python2-pylast` package, right?

[2016-11-16 21:55] fpqc commented on #158
@MarcinWieczorek yep!

[2016-11-16 21:58] jaedb commented on #158
Is there any change required to the code to help ensure this dependency is met during build?

[2016-11-16 21:59] fpqc commented on #158
@jaedb Probably, the pip installer didn't look for it either.

[2016-11-16 21:59] MarcinWieczorek commented on #158
Just to make sure, it's `mopidy-spotmop` package? I'm always getting lost, they're so similar

[2016-11-16 22:01] fpqc commented on #158
@MarcinWieczorek yep!

[2016-11-16 22:01] fpqc commented on #158
@jaedb I just realized, I installed with pip instead of pip2.7, that was maybe the problem.

[2016-11-16 22:01] MarcinWieczorek commented on #158
I've pushed the update

[2016-11-17 02:58] #158 closed, assigned to nobody

[2016-11-17 03:04] fpqc opened #159 "Grant control to all members on the LAN without logging each in?"
Hi Jaedb, not sure if this is a spotmop issue or a mopidy-spotify one,  but I have set a uname and password in the mopidyctl config (running as a service in our office).  It seems weird that each user, who is basically doing no more than using spotmop as a remote control for the overhead speakers, has to use the office account to log in.

Is there any way to have spotmop automatically load the cre

[2016-11-18 02:38] jaedb commented on #159
The Mopidy server uses the same authentication credentials for all clients. In order to deliver the extra functionality to the client that is otherwise not available in the Libspotify SDK, Spotmop uses the Spotify HTTP API. Requests to this API require authentication and therefore is handled per-client.

Because the HTTP API's OAuth authentication opens full access to a person's Spotify account, i

[2016-11-18 04:28] fpqc commented on #159
Thanks!

[2016-11-18 04:28] #159 closed, assigned to nobody

[2016-11-29 00:11] mczerski opened #160 "search filter icons on mobile"
on mobile (chrome) there is no way to tell which filter is selected. on the pc version there is filter icon and filter name displayed, and on the mobile there is only filter icon which is the same for all filters.

[2016-11-29 00:13] mczerski opened #161 "search progress"
it would be nice if there was any search progress indication, just that the search is in progress.

[2016-12-04 15:53] mczerski commented on #76
@jaedb I have also problem with not working next button. i'm using version 2.10.1. i wan't to try to debug this problem but i'm a python developer and i don't have any experience with java script or html. If You could tell me what can i do to debug this problem i would be very glad.

maybe i ask a specific question.
i can see in webpage source which lines are responsible for next button and i beli

[2016-12-04 20:02] jaedb commented on #76
This uses a `PlayerService` model, which you can see here: https://github.com/jaedb/spotmop/blob/master/src/app/player/service.js

I'm full swing in development of a revamped version of Spotmop, called [Iris](https://github.com/jaedb/Iris). You could try running Iris to see if you experience the same issues.

[2016-12-04 20:28] mczerski commented on #76
i'm using chromium. i openned "Developer Tools" and picked console. when i hit next button I can see exception thrown :)
app-annotated.js:12121 TypeError: Cannot read property 'url' of undefined
    at Object.next (app-annotated.js:36477)
    at Object.next (app-annotated.js:35293)
    at n.a.next (app-annotated.js:34751)
    at fn (eval at compile (app-annotated.js:12936), <anonymous>:4:203)

[2016-12-05 15:58] mczerski commented on #76
i tried to check if setting picture in my spotify account will eliminate the problem but aparently it is harded to do compared to just removing this one line of code ... which eliminates the problem. so i suppose the problem occurs only when spotify account is not connected with facebook - so there is no account picture.

[2016-12-07 21:03] jaedb commented on #76
@mczerski is this related to navigating to the next track? Or a separate concern?

[2016-12-07 21:06] jaedb commented on #161
Because we use websockets (as per [mopidy.js](https://docs.mopidy.com/en/latest/api/js/)) there isn't an easy way to track the load progress of a request. This can be done for HTTP requests, which is when the loader is shown.

I'm exploring some other loader options in the next major release ([Iris](https://github.com/jaedb/Iris)) which may address this.

[2016-12-07 21:06] #161 closed, assigned to nobody

[2016-12-07 21:10] jaedb commented on #155
Mmm it is a frustrating limitation of 'app-ish' websites. We have to work within the infrastructure and event system of the many possible browsers and devices.

In my mind the only solution is to ditch the swipe action to reveal the side menu. So it'll only be accessible via a toggle button. Thoughts?

[2016-12-07 21:11] jaedb commented on #156
Will be addressed in the next major release ([Iris](https://github.com/jaedb/Iris))

[2016-12-07 21:11] jaedb commented on #160
Will be addressed in the next major release ([Iris](https://github.com/jaedb/Iris))

[2016-12-07 21:44] mczerski commented on #76
yes, it is related to the next track problem

[2016-12-09 11:15] Mengesh commented on #155
Agree

[2016-12-19 08:55] vojtapolasek opened #162 "Links don't react on pressing ENTER"
Hi,
I am a blind Linux user and Spotmop looks really like the think I need. But unfortunately  all links in Spotmop (Artists, settings, etc) don't react on pressing Enter on them. I have to click them with a mouse and this is really impractical for me. Could you please fix this?

[2016-12-19 09:04] vojtapolasek opened #163 "Need to reauthorize spotify everytime I close tab with Spotmop"
The subject says it all. I open my Firefox and I go to localhost:6680, I click Spotmop. I click settings and authorize to Spotify. Then I close the firefox tab and repeat all actions. And I have to login into Spotify again... is this expected?

[2016-12-20 22:54] jaedb commented on #163
This is not expected, nope. We use the browser's `localStorage` to store the credentials so once Spotify has been authorized, it will remain so. I would suggest trying another browser, and making sure your browser supports `localStorage`. Also, if you have plugins that clear your cache on refresh then this will have the same result.

[2016-12-20 22:57] jaedb commented on #162
Are you able to run Iris to see if this is still an issue? Iris is the new version of Spotmop, and is built on React so will use a different rendering method for links. Hopefully this will remedy this issue.

If not, we may require involvement from the community in order to code this as I'm not familiar with UX design for blind users.

[2016-12-21 10:35] antonsmithnz opened #164 "Show playlist name in Now Playing"
First of all, love the work you have done on this amazing frontend! Thanks heaps!

In our office, person A will add a playlist to the Now Playing queue. Person B, C and D will often ask 'what playlist is that'? This happens every day lol.

It would be cool if Spotmop showed the current playlist name (if any) in the Now Playing area and linked off to it so others in the office can discover the play

[2016-12-21 11:05] hcoohb commented on #164
Hi,  I like that idea, that would be an awesome feature!

On Dec 21, 2016 8:35 PM, "Anton Smith" <notifications@github.com> wrote:

[2016-12-21 19:54] jaedb commented on #164
This is a neat idea, and Spotify manages to pull this off in their application. When building this from scratch (as we would need to do) there are a few tricky bits to consider. For example: what if we add other tracks to the queue, at what point have we 'finished' playing the playlist?

[2016-12-22 17:11] abandisch commented on #76
@jaedb I had the same issue as @mczerski, i.e.  I'd get TypeError: Cannot read property 'url' of undefined when clicking the 'Next' button. I found it was specifically related to this if statement in app.js

`if( spotifyuser ) icon = spotifyuser.images[0].url;`

My spotifyuser variable doesn't bring back any images, so I changed the if statement to this:

`if( spotifyuser.images[0] ) icon = spotif

[2016-12-22 19:48] jaedb commented on #76
@abandisch Good spotting! It may need to be:
`if( spotifyuser && spotifyuser.images[0] ) icon = spotifyuser.images[0].url;`
to also ensure we have a spotify user (as when not authorized, there is no spotifyuser).

Have you had a chance to have a play with [Iris](https://github.com/jaedb/Iris) (currently in beta)? It'd be interesting to see if you experience the same issue on the new platform.

[2016-12-22 22:31] abandisch commented on #76
@jaedb Yeah true - looking at the code again, it does make sense to ensure there is a spotify user first. I prefer your solution.

I did actually have a go with Iris as well to check out the 'Next' button and works correctly there, so all good there. Since it's under active development, I reverted back to Spotmop to see if I can track down the issue.

Just an FYI - I'm running Mopidy and the Spotm

[2016-12-29 10:21] NicolasHaeffner opened #165 "Next button not working"
Just installed spotmop and it's awesome!

But the Next button doesn't seem to work for me. It works with other webinterfaces though. Would love to have that fixed!

[2016-12-31 12:19] sgraca opened #166 "Add/Remove from library not working"
I've just started using Spotmop and familiarizing myself with it. It's great piece of software!

However add/remove from library button does not work for me. Clicking it does nothing, the album is not added to list of my albums. Clicking the button results in an error in the console:

[code]

[2016-12-31 12:28] sgraca opened #167 "Many playlists and API rate limiting"
I have many playlists (over 200) and this seems to cause some issues when I start Spotmop. It tries to load all of them during startup which takes some time (the application makes over 600 request in total), and before that I cannot use the application. But I also noticed that load calls to load the playlist details fail with HTTP error 429:

[code]

[2016-12-31 12:39] sgraca opened #168 "Cannot add songs to playlist on Android"
On Android I'm not able to add any song to a playlist. The list of playlists is empty. It can even be scrolled (there's a scrollbar) but it black/empty all the time (please see the screenshot).
It works on my laptop and I can add songs to playlists using the context menu.

![screenshot_2016-12-31-13-32-49](https://cloud.githubusercontent.com/assets/1324598/21577525/fc88f98e-cf5d-11e6-9e77-4e8915c0

[2017-01-02 01:11] jaedb commented on #167
This issue was moved to jaedb/Iris#3

[2017-01-02 01:11] #167 closed, assigned to nobody

[2017-01-02 01:11] jaedb commented on #164
This issue was moved to jaedb/Iris#4

[2017-01-02 01:11] #164 closed, assigned to nobody

[2017-01-02 01:12] jaedb commented on #162
This issue was moved to jaedb/Iris#5

[2017-01-02 01:12] #162 closed, assigned to nobody

[2017-01-02 01:12] jaedb commented on #156
This issue was moved to jaedb/Iris#6

[2017-01-02 01:12] #156 closed, assigned to nobody

[2017-01-02 01:13] jaedb commented on #155
This issue was moved to jaedb/Iris#7

[2017-01-02 01:13] #155 closed, assigned to nobody

[2017-01-02 01:14] jaedb commented on #154
This issue was moved to jaedb/Iris#8

[2017-01-02 01:14] #154 closed, assigned to nobody

[2017-01-02 01:14] jaedb commented on #152
This issue was moved to jaedb/Iris#9

[2017-01-02 01:14] #152 closed, assigned to nobody

[2017-01-02 01:14] jaedb commented on #151
This issue was moved to jaedb/Iris#10

[2017-01-02 01:14] #151 closed, assigned to nobody

[2017-01-02 01:15] jaedb commented on #138
This issue was moved to jaedb/Iris#11

[2017-01-02 01:15] #138 closed, assigned to nobody

[2017-01-02 01:15] jaedb commented on #148
This issue was moved to jaedb/Iris#12

[2017-01-02 01:15] #148 closed, assigned to nobody

[2017-01-02 01:15] jaedb commented on #129
This issue was moved to jaedb/Iris#13

[2017-01-02 01:15] #129 closed, assigned to nobody

[2017-01-02 01:15] jaedb commented on #109
This issue was moved to jaedb/Iris#14

[2017-01-02 01:15] #109 closed, assigned to nobody

[2017-01-02 01:16] jaedb commented on #47
This issue was moved to jaedb/Iris#15

[2017-01-02 01:16] #47 closed, assigned to jaedb

[2017-01-02 01:16] jaedb commented on #67
This issue was moved to jaedb/Iris#16

[2017-01-02 01:16] #67 closed, assigned to nobody

[2017-09-24 13:03] allo- opened #169 "Support for running behind a reverse proxy"
I tried to run spotmop behind a reverse proxy. This seems quite hard to accomplish. What needs to be done:

- URLs need to be relative to the current url. Often they are absolute to the server. (Workaround: Use it on a subdomain instead of subfolder)
- The Port of the server should be used (works mostly, seems to have problems with websockets)
- HTTPs URLs need to be used if spotmop is requested u